.limits-title {
  font-size: 24px;
  color: #3d3d3d;
  line-height: 18px;
  margin: 30px 0 38px 0;
  .highlight {
    color: #3399cc;
  }
}
.limits {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.limit-small-title {
  font-size: 18px;
  color: #7d7d7d;
  margin-bottom: 15px;
}
.limits-value {
  font-size: 24px;
  color: #3d3d3d;
}
.progress-container {
  display: flex;
  align-items: center;
  .progress {
    margin-left: 10px;
    width: 100%;
    border-radius: 1.25rem;
    &-bar {
      background-color: #3399cc !important;
    }
  }
}
