<div class="pg-container">
    <div class="subscription-accordion accordion" id="accordionExample1">
        <div class="accordion-body">
            <div class="collapse-heading mb-0">
                <img src="assets/icons/filter.png" alt="">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    Настроить фильтр
                    <img class="arrow-up" src="assets/icons/arrow_up.png" alt="">
                </button>
                <div class="filters-count">
                    <span>12 фильтров включено</span>
                </div>
            </div>

            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample1">
                <form [formGroup]="filterAudienceForm" class="filters-container">
                    <div class="checkoboxes-filter">

                        <div formGroupName="followers">
                            <mat-checkbox formControlName="status">
                                Диапазон подписчиков от <input formControlName="min" class="range-input" type="text"> до
                                <input formControlName="max" class="range-input" type="text">
                            </mat-checkbox>
                        </div>
                        <div formGroupName="folowings">
                            <mat-checkbox formControlName="status">
                                Диапазон подписок от <input formControlName="min" class="range-input" type="text"> до
                                <input class="range-input" formControlName="max" type="text">
                            </mat-checkbox>
                        </div>
                        <div formGroupName="likeInPhoto">
                            <mat-checkbox formControlName="status">Количество лайков последнего поста от <input
                                    formControlName="min" class="range-input" type="text"> до
                                <input formControlName="max" class="range-input" type="text"> </mat-checkbox>
                        </div>

                        <div formGroupName="postCount">
                            <mat-checkbox formControlName="status">Количество публикаций от <input formControlName="min"
                                    class="range-input" type="text"> до
                                <input formControlName="max" class="range-input" type="text"> </mat-checkbox>
                        </div>


                        <mat-checkbox formControlName="haveAvatar">Присутствует аватар</mat-checkbox>

                        <div formGroupName="lastPostAge">
                            <mat-checkbox formControlName="status">Последний пост не позже <input formControlName="age"
                                    class="range-input" type="text">
                            </mat-checkbox>
                        </div>


                        <div formGroupName="lastStoryAge">
                            <mat-checkbox formControlName="status">Последний Story не позже <input formControlName="age"
                                    class="range-input" type="text">
                            </mat-checkbox>
                        </div>

                        <mat-checkbox formControlName="profileDescription">Наличие описания профиля</mat-checkbox>
                        <mat-checkbox formControlName="haveSite">Указан сайт в профиле</mat-checkbox>

                    </div>
                    <div class="texts-filter">
                        <div formGroupName="descriptionInclude">
                            <mat-checkbox formControlName="status" class="with-text">Наличие в описании данных слов
                                <textarea formControlName="text"
                                    placeholder="Импортируйте или напишите слова разделив запятой" class="d-block"
                                    cols="30" rows="5"></textarea>
                            </mat-checkbox>
                        </div>

                        <div formGroupName="descriptionExclude">
                            <mat-checkbox formControlName="status" class="with-text">Отсутствие в описании данных
                                <textarea formControlName="text"
                                    placeholder="Импортируйте или напишите слова разделив запятой" class="d-block"
                                    cols="30" rows="5"></textarea>
                            </mat-checkbox>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>