<h3 class="add-ps-title">Добавить новый {{data.type == 'post' ? 'пост' : 'story'}}</h3>

<form [formGroup]="addPostStoryForm" class="ps-container d-flex justify-content-between">
    <div class="ps-body ">
        <div class="photo-video-place drop-zone">
            <div class="drop-file d-flex align-items-center justify-content-center h-100" *ngIf="files.length==0">
                <div class="center">
                    <p class="inf">Перетащите сюда изображение или видеофайл <br>или</p>
                    <div class="upload-area">
                        <label for="upload">
                            <div class="upload-btn">
                                <span class="btn-label">Выберите файл</span>
                            </div>
                        </label>
                        <input type="file" class="d-none" id="upload" (change)="onSelectFiles($event)" />
                    </div>
                </div>
            </div>
            <div class="dropped-files h-100" *ngIf="files.length>0">
                <img [src]="localImages[0]" class="w-100 h-100">
            </div>
        </div>
        <button class="search-for-ideas">
            <img src="assets/icons/idea.png" alt="">
            Поиск идей
        </button>
    </div>
    <div class="ps-tools">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header expandedHeight="47px">
                    <mat-panel-title>
                        <p class="title">Редактирование</p>
                        <p class="subtitle">все опции</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="tools-list d-flex justify-content-between">
                    <div class="d-flex align-items-center flex-column">
                        <p class="tool-label">Выровнять</p>
                        <div class="tool-item-arround">
                            <img src="assets/icons/tool-1.png" alt="">

                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <p class="tool-label">Яркость</p>
                        <div class="tool-item-arround">
                            <img src="assets/icons/tool-2.png" alt="">

                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <p class="tool-label">Контраст</p>
                        <div class="tool-item-arround">
                            <img src="assets/icons/tool-3.png" alt="">

                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <p class="tool-label">Детали</p>
                        <div class="tool-item-arround">
                            <img src="assets/icons/tool-4.png" alt="">

                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <p class="tool-label">Тепло</p>
                        <div class="tool-item-arround">
                            <img src="assets/icons/tool-5.png" alt="">

                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <p class="tool-label">Насыщенность</p>
                        <div class="tool-item-arround">
                            <img src="assets/icons/tool-6.png" alt="">

                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <p class="tool-label">Цвет</p>
                        <div class="tool-item-arround">
                            <img src="assets/icons/tool-7.png" alt="">

                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <p class="tool-label">Выгорание</p>
                        <div class="tool-item-arround">
                            <img src="assets/icons/tool-8.png" alt="">

                        </div>
                    </div>
                </div>

            </mat-expansion-panel>

        </mat-accordion>
        <div *ngIf="data.type == 'post'" class="description-form d-flex justify-content-between align-items-center">

            <img src="assets/icons/ava.png" alt="">
            <mat-form-field class="w-100">
                <input matInput #message maxlength="256" placeholder="Введите подпись...">
                <mat-hint align="start"><strong>
                        <img (click)="toggleShowEmojies()" src="assets/icons/smile.png" alt="">
                        <emoji-mart *ngIf="showEmojies" title="Pick your emoji…" emoji="point_up"></emoji-mart>
                    </strong> </mat-hint>
                <mat-hint align="end">еще можно ввести {{ 345 - message.value.length }} символов и 12 хэштегов
                </mat-hint>
            </mat-form-field>

        </div>
        <mat-accordion>
            <mat-expansion-panel [expanded]="true" class="settings">
                <mat-expansion-panel-header expandedHeight="47px">
                    <mat-panel-title>
                        <p class="title">Настройки</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="w-100">
                    <div class="publish-now d-flex align-items-baseline  w-100">
                        <p class="publish-now-text">Опубликовать <a href="">сейчас</a></p>
                        <img src="assets/icons/arrow_down.png" alt="">
                    </div>
                    <div class="add-ps-form" *ngIf="data.type == 'post'">
                        <mat-checkbox formControlName="showFirstComment">Указать первый комментарий</mat-checkbox>

                        <div class="inline-checkoxes" formGroupName="postLife">
                            <mat-checkbox formControlName="status">Удаление поста через</mat-checkbox>

                            <span class="checkbox-label"> <input formControlName="age" class="range-input"
                                    type="number">
                                дней</span>
                        </div>
                    </div>
                    <div class="add-ps-form" *ngIf="data.type == 'story'">
                        <div class="inline-checkoxes" formGroupName="storyLife">
                            <mat-checkbox formControlName="status">Удаление story через</mat-checkbox>
                            <span class="checkbox-label"> <input formControlName="age" class="range-input"
                                    type="number">
                                дней</span>
                        </div>
                    </div>
                </div>

            </mat-expansion-panel>

        </mat-accordion>
        <div class="add-ps-actions d-flex justify-content-between">
            <button class="publish">Опубликовать</button>
            <button class="save">Сохранить</button>
            <button class="discard">Отмена</button>
        </div>
    </div>
</form>