.add-ps-title {
  font-family: "SF UI Display Semibold";
  color: #3d3d3d;
  font-size: 24px;
  margin-bottom: 27px;
}

.ps-body {
  text-align: center;
  .photo-video-place {
    width: 480px;
    height: 480px;
    background: #eaf0f3;
    margin-bottom: 30px;
    border: 1px dotted #cccccc;
    .inf {
      font-size: 18px;
      line-height: 30px;
    }
    .upload-area {
      .upload-btn {
        padding: 11px 29px;
        -webkit-appearance: button;
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: pointer;
        background-color: buttonface;
        margin: 0em;
        border-width: 2px;
        border-style: outset;
        border-image: initial;
      }
    }
  }
  .dropped-files {
    img {
      object-fit: contain;
      object-position: center;
    }
  }
  .search-for-ideas {
    font-family: "SF UI Display Semibold";
    color: #49c59e;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(73, 197, 158);
    border-radius: 4px;
    background-color: rgb(246, 246, 246);
    padding: 12px 21px 13px 16px;
    img {
      margin-right: 11px;
    }
  }
}
.ps-tools {
  width: 580px;

  .tools-list {
    .tool-label {
      font-family: "SF UI Display Regular";
      font-size: 11px;
      color: rgb(61, 61, 61);
      line-height: 1.2;
      margin-bottom: 5px;
    }
    .tool-item-arround {
      width: 58px;
      height: 58px;
      border-radius: 50%;
      border: 1px solid #c8c8c8;
      display: flex;
      img {
        margin: auto;
      }
    }
  }
  .description-form {
    margin-top: 40px;
    img {
      border-radius: 50%;
      margin-right: 12px;
    }
  }
}
.publish-now {
  //   &::after {
  //     content: "";
  //     display: block;
  //     border-bottom: 1px solid rgb(211, 211, 211);
  //     position: relative;
  //     bottom: -20px;
  //     width: 100%;
  //   }

  p.publish-now-text {
    font-size: 18px;
    font-family: "SF UI Display Regular";
    color: rgb(61, 61, 61);
    line-height: 1.2;
    span {
      text-decoration: none;
      color: #3399cc;
      cursor: pointer;
    }
  }
  img {
    margin-left: 6px;
  }
}
.inline-checkoxes {
  display: flex;
  align-items: center;
  .checkbox-label {
    font-family: "SF UI Display Regular";
    font-size: 18px;
    line-height: 48px;
    color: #3d3d3d;
    margin-left: 4px;
  }
  .range-input {
    border-radius: 4px;
    border: 2px solid #c2d0db;
    height: 30px;
    font-size: 14px;
    width: 70px;
    padding-left: 4px;
  }
}
.add-ps-form {
  margin-top: 21px;
}
.add-ps-actions {
  margin-top: 30px;
  button {
    padding: 17px 46px;
    font-family: "SF UI Display Regular";
    font-size: 18px;
    border: none;
    &.publish {
      border-radius: 4px;
      background-color: rgb(51, 153, 204);
      color: white;
    }
    &.save {
      border-radius: 4px;
      background-color: rgb(148, 167, 177);
      color: white;
    }
    &.discard {
      border-radius: 4px;
      background-color: rgb(205, 205, 205);
      color: #7d7d7d;
    }
  }
}

mat-checkbox {
  ::ng-deep {
    display: block;

    .mat-checkbox-label {
      font-family: "SF UI Display Regular";
      font-size: 18px;
      line-height: 38px;
      color: #3d3d3d;
    }
  }
}

mat-accordion {
  ::ng-deep {
    .mat-expansion-panel {
      &.settings {
        margin-top: 35px;
      }
      box-shadow: none;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(228, 228, 228);
      background-color: rgb(238, 238, 238);
    }
    .mat-expansion-panel-body {
      background: white;
      padding: 11px 24px 8px;
    }
    .mat-expansion-panel-header {
      background: #eeeeee;
      &:hover,
      &:focus {
        background: #eeeeee !important;
      }
    }
    .title {
      font-family: "SF UI Display SemiBold";
      font-size: 18px;
      color: rgb(61, 61, 61);
      line-height: 1.2;
    }
    .subtitle {
      font-size: 18px;
      font-family: "SF UI Display Regular";
      color: rgb(61, 61, 61);
      line-height: 1.2;
      margin-left: auto;
      text-transform: uppercase;
    }
    .mat-expansion-indicator::after {
      color: #3d9ece;
    }
  }
}
