<div class="direct-schedule">
    <div class="tab" [ngSwitch]="tab">
        <div class="direct-schedule-tab d-flex">
            <div class="direct-item cursor-pointer align-items-center" [ngClass]="{'activeTab':tab==1}"
                (click)="onChangeTab('1')">
                <span class="tab-text">Для только что подписавшихся</span>
            </div>
            <div class="direct-item cursor-pointer align-items-center" [ngClass]="{'activeTab':tab==2}"
                (click)="onChangeTab('2')">
                <span class="tab-text">Для всех подписчиков</span>
            </div>
        </div>
        <div class="signature-content" *ngSwitchCase="1">
            <form [formGroup]="signatureGroup">
                    <div class="form-item d-flex align-items-center">
                            <p-checkbox name="groupname" value="val1" formControlName="signatureValue">
                            </p-checkbox>
                            <p class="lable">Отложенная отправка через </p>
                            <input class="select ml-2" type="number" formControlName="select">
                            <span class="ml-2" [ngStyle]="{'color':'#69aed5'}">часа</span>
                            <img src="assets/icons/arrow_down.png" class="rounded img-responsive  ml-3">
                        </div>

                <div class="form-item d-flex align-items-center">
                    <p-checkbox name="groupname" value="val1" formControlName="signatureValue">
                    </p-checkbox>
                    <p class="lable">Не отправлять, если есть переписка или запрос на переписку</p>
                </div>
                <div class="form-item d-flex align-items-center">
                    <p-checkbox name="groupname" value="val2" formControlName="signatureValue"></p-checkbox>
                    <p class="lable">Отправлять сообщение после подписки</p>
                </div>
                <div class="form-item d-flex align-items-center">
                        <p-checkbox name="groupname" value="val3" formControlName="signatureValue"></p-checkbox>
                        <p class="lable">Применить фильтр для подписчиков</p>
                    </div>
                    <div class="form-item d-flex align-items-center">
                            <p-checkbox name="groupname" value="val3" formControlName="signatureValue"></p-checkbox>
                            <p class="lable">Текст рассылки </p>
                            <span class="ml-1" [ngStyle]="{'color':'#69aed5'}">вручную</span>
                                <img src="assets/icons/arrow_down.png" class="rounded img-responsive  ml-3">
                        </div>

            </form>
        </div>
    </div>
</div>