.msg-text {
  max-width: 100% !important;
  animation: slide-up 0.5s ease;
  .message-body {
    word-wrap: break-word;
  }
  .sent-by {
    .msg-img {
      margin-left: 10px;
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    // transform: translateY(20px);
  }
  100% {
    opacity: 1;
    // transform: translateY(0);
  }
}
