<div class="sp-container">
    <div class="cp-content">
        <div class="post-statistic-heading">
            <h4>Статистика постов с
                <mat-form-field class="form-group-calendar">
                    <span (click)="picker.open()">{{startDateControl.value | date:'dd.MM.yyyy'}}</span>
                    <input class="d-none" matInput [matDatepicker]="picker" [matDatepickerFilter]="startDateFilter"
                        [formControl]="startDateControl">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                по <mat-form-field class="form-group-calendar">
                    <span (click)="pickersecond.open()">{{endDateControl.value | date:'dd.MM.yyyy'}}</span>
                    <input class="d-none" matInput [matDatepicker]="pickersecond" [matDatepickerFilter]="endDateFilter"
                        [formControl]="endDateControl">
                    <mat-datepicker #pickersecond></mat-datepicker>
                </mat-form-field>
            </h4>
            <a class="post-statistic-manage" routerLink="/autoposting">
                <span>Управление постами</span>
                <img src="assets/icons/settings.png" alt="Manage posts">
            </a>
        </div>
        <div class="post-statistic-sources">
            <h4>Все источники <img src="assets/icons/arrow_down.png"></h4>
        </div>
        <!-- POST STATISTIC CHART -->
        <div [ngStyle]="lineChartSize">
            <app-line-chart big="true" *ngIf="!loading" [dataSets]="chartData" customId="post-subscribe"
                [labels]="chartLabels" [size]="lineChartSize"></app-line-chart>
        </div>
        <div class="business-account-statistics" [class.d-none]="!isBusinessAccount">
            <!-- PIE STATISTIC CHART -->
            <div class="pie-statistic-chart-heading">
                <button class="pie-statistic-action" [class.active]="activePieChartDataType=='country'" (click)="onClickPieChartHeading('country')">Топ Страны</button>
                <button class="pie-statistic-action" [class.active]="activePieChartDataType=='city'" (click)="onClickPieChartHeading('city')">Топ Города</button>
                <button class="pie-statistic-action" [class.active]="activePieChartDataType=='gender'" (click)="onClickPieChartHeading('gender')">Пол</button>
                <button class="pie-statistic-action" [class.active]="activePieChartDataType=='age'" (click)="onClickPieChartHeading('age')">По возрасту </button>
            </div>

            <!--PIE STATISTIC CHART IN MOBILE VERSION-->
            <div class="form-group">
                <div class="input-content w-100">
                    <select id="select" name="select" class="custom-select">
                        <option value="География">Страна </option>
                        <option value="Пол">Пол </option>
                        <option value="Открытость профиля">По возрасту</option>
                        <option value="Популярность">Популярность </option>
                        <option value="Язык">Язык </option>
                        <option value="Сайт">Сайт </option>
                    </select>
                </div>
            </div>



            <div class="chart-map">
                <canvas id="myChart" class="pie-chart"></canvas>

                <!-- <div class="map-container">
                    <div id="map"></div>
                </div> -->
            </div>

            <!-- END PIE STATISTIC CHART -->
        </div>
        <!-- STATISTIC BY DAY -->
        <h4 class="statistic-by-day-heading" *ngIf="type=='posts'">Статистика по дням</h4>

        <table class="table table-image sp-table" *ngIf="type=='posts'">
            <thead>
                <tr>
                    <th scope="col">Пост</th>
                    <th scope="col">Лайков</th>
                    <th scope="col">Комментариев</th>
                    <th scope="col">Прогресс лайков</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of statistics">
                    <td>
                        <div class="d-flex align-items-center">
                            <img [src]="item?.thumbnail" class="img-fluid img-thumbnail" alt="Sheep">
                            <span class="caption">
                                {{item?.caption}}
                            </span>
                        </div>
                    </td>
                    <td>{{item?.like}}</td>
                    <td>{{item?.comment}}</td>
                    <td>{{item?.deltaLike}}%</td>
                </tr>

            </tbody>
        </table>
        <!-- <button class="load-more">Загрузить еще</button> -->
        <!-- END STATISTIC BY DAY -->
    </div>
</div>