<div class="sp-container">
    <div class="cp-content">
        <div class="post-statistic-heading">
            <h4>Статистика постов с
                <mat-form-field class="form-group-calendar">
                    <span (click)="picker.open()">{{startDateControl.value | date:'dd.MM.yyyy'}}</span>
                    <input class="d-none" matInput [matDatepicker]="picker" [matDatepickerFilter]="startDateFilter"
                        [formControl]="startDateControl">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                по <mat-form-field class="form-group-calendar">
                    <span (click)="pickersecond.open()">{{endDateControl.value | date:'dd.MM.yyyy'}}</span>
                    <input class="d-none" matInput [matDatepicker]="pickersecond" [matDatepickerFilter]="endDateFilter"
                        [formControl]="endDateControl">
                    <mat-datepicker #pickersecond></mat-datepicker>
                </mat-form-field>
            </h4>
            <div class="post-statistic-manage">
                <span>Управление постами</span>
                <img src="assets/icons/settings.png" alt="Manage posts">
            </div>
        </div>
        <div class="post-statistic-sources">
            <h4>Все источники <img src="assets/icons/arrow_down.png"></h4>
        </div>
        <!-- POST STATISTIC CHART -->
        <div  [ngStyle]="lineChartSize">
            <app-line-chart big="true" *ngIf="!loading" [dataSets]="chartData" customId="post-subscribe"
                [labels]="chartLabels" [size]="lineChartSize"></app-line-chart>
        </div>

        <!-- STATISTIC BY DAY -->
        <h4 class="statistic-by-day-heading">Статистика по дням</h4>

        <table class="table table-image sp-table">
            <thead>
                <tr>
                    <th scope="col">Пост</th>
                    <th scope="col">Лайков</th>
                    <th scope="col">Комментариев</th>
                    <th scope="col">Прогресс лайков</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of statistics">
                    <td>
                        <div class="d-flex align-items-center">
                            <img [src]="item?.thumbnail" class="img-fluid img-thumbnail" alt="Sheep">
                            <span class="caption">
                                {{item?.caption}}
                            </span>
                        </div>
                    </td>
                    <td>{{item?.like}}</td>
                    <td>{{item?.comment}}</td>
                    <td>{{item?.deltaLike}}%</td>
                </tr>

            </tbody>
        </table>
        <!-- <button class="load-more">Загрузить еще</button> -->
        <!-- END STATISTIC BY DAY -->
    </div>
</div>