<div class="accounts-content-modal">
    <p class="text  text-center">Добавление аккаунта</p>
    <div class="accounts-content-modal-container" [ngSwitch]="tab">
        <div class="tabs row d-flex mt-3 ml-0 mr-0">
            <div class="tab-item col">
                <div class="tab-item-content" [ngClass]="{'activeTab':tab==1}" (click)="changedTab(1)"></div>
            </div>
            <div class="tab-item col" *ngIf="isFirstAccount">
                <div class="tab-item-content ml-3" [ngClass]="{'activeTab':tab==2}" (click)="changedTab(2)"></div>
            </div>
            <div class="tab-item col">
                <div class="tab-item-content ml-3" [ngClass]="{'activeTab':tab==3}" (click)="changedTab(3)"></div>
            </div>
            <div class="tab-item col">
                <div class="tab-item-content ml-3" [ngClass]="{'activeTab':tab==4}" (click)="changedTab(4)"></div>
            </div>
        </div>
        <div class="main mt-5">

            <div class="login-container" *ngSwitchCase="1">
                <form [formGroup]="loginForm">
                    <p class="error text-danger">{{errorMessage}}</p>
                    <div class="form-group">
                        <label class="lable mb-1">Ваш аккаунт</label>
                        <input type="text" class="form-control" formControlName="email" placeholder="Ваш аккаунт *"
                            value="" [ngClass]="{'border':checkIsValid('email')}">
                    </div>
                    <div class="form-group">
                        <label class="lable mb-1">Пароль</label>
                        <input type="password" class="form-control" formControlName="password" placeholder="Пароль *"
                            value="" [ngClass]="{'border':checkIsValid('password')}">
                    </div>
                    <div *ngIf="showCode">
                        <label class="lable">Введите код из sms</label>
                        <input type="text" class="form-control mt-4 mb-4" formControlName="code"
                            placeholder="Введите код из sms" [ngClass]="{'border':checkIsValid('code')}">
                    </div>

                    <button type="submit" class="btn button mt-4 mb-4" [disabled]="loginForm.invalid || loading"
                        (click)="addAccount()">подключить Аккаунт
                        Instagram</button>
                </form>
                <p class="tttle">вы должны быть авторизованный в Instagram через тот аккаунт,который желайте подключить
                </p>
            </div>

            <div class="tarif-container text-center" *ngSwitchCase="2">
                <p class="title text-center">Выбор тарифа</p>
                <form [formGroup]="tariffForm">
                    <div class="form-group radio-button-group mt-3" *ngFor="let item of userTypes"
                        [ngClass]="{'activRadioButton':tariffForm.get('tariff').value==item.id}">
                        <label [for]="item.id" class="w-100 h-100 cursor-pointer  d-flex">
                            <p class="m-auto">{{item?.name}} - что входит</p>
                        </label>
                        <input formControlName="tariff" [id]="item?.id" class="d-none" type="radio" [value]="item.id">
                    </div>
                </form>
                <button type="submit" class="btn main-button mt-4 mb-4" [disabled]="tariffForm.invalid || loading"
                    (click)="onClickJoinToTariff()">Дальше</button>
            </div>

            <div class="promotion-container text-center" *ngSwitchCase="3">
                <p class="title text-center">Включение Автопродвижени</p>
                <form [formGroup]="promotionForm">
                    <div class="slide-toggle-item d-flex">
                        <mat-slide-toggle class="slide-toggle" formControlName="autosubscription"
                            value="autosubscription">
                            <p class="promotion-text">Автоподписка</p>
                        </mat-slide-toggle>
                    </div>
                    <div class="slide-toggle-item d-flex">
                        <mat-slide-toggle class="slide-toggle" formControlName="autoreviewstories"
                            value="autoreviewstories">
                            <p class="promotion-text">Автопрасмотр Stories</p>
                        </mat-slide-toggle>
                    </div>
                    <div class="slide-toggle-item d-flex">
                        <mat-slide-toggle class="slide-toggle" formControlName="bonus" value="bonus">
                            <p class="promotion-text"> Бонус от Lift </p>
                        </mat-slide-toggle>
                    </div>
                </form>
                <button type="submit" class="btn main-button mt-4 mb-4" (click)="changeTab(4)">Дальше</button>

            </div>
            <div class="action-content text-center" *ngSwitchCase="4">
                <p class="title text-center">Дальнейшие дествия</p>

                <form [formGroup]="actionForm">
                    <div class="form-group radio-button-group mt-3"
                        [ngClass]="{'activRadioButton':actionForm.get('action').value=='auto-subscription'}">
                        <label for="auto-subscription" class="w-100">
                            <p>Настроить автоподписку</p>
                        </label>
                        <input formControlName="action" class="d-none" id="auto-subscription" type="radio"
                            value="auto-subscription">
                    </div>

                    <div class="form-group radio-button-group mt-3"
                        [ngClass]="{'activRadioButton':actionForm.get('action').value=='view-stories'}">
                        <label for="view-stories" class="w-100">
                            <p>Настроить просмотр Stories</p>
                        </label>
                        <input formControlName="action" class="d-none" id="view-stories" type="radio"
                            value="view-stories">
                    </div>
                </form>

                <button type="submit" class="btn main-button mt-4 mb-4" [disabled]="actionForm.invalid || loading"
                    (click)="onClickSave()">Сохранить</button>
            </div>
        </div>
    </div>
    <i class="close-icon material-icons cursor-pointer" (click)="onClickClose()">close</i>
</div>