<div class="accounts-content">
    <a (click)="navigated.emit()" class="account-item" routerLink="/profile">
        <img src="assets/icons/ellipse.png" alt="">
        <span>Профиль</span>
    </a>
    <a (click)="navigated.emit()" class="account-item" routerLink="/tariff">
        <img src="assets/icons/ellipse.png" alt="">
        <span>Тариф</span>
    </a>
    <a (click)="navigated.emit()" class="account-item" routerLink="/support">
        <img src="assets/icons/ellipse.png" alt="">
        <span>Поддержка</span>
    </a>
    <a (click)="navigated.emit()" class="account-item" routerLink="/affiliate-program">
        <img src="assets/icons/ellipse.png" alt="">
        <span>Партнерам</span>
    </a>
    <a (click)="navigated.emit()" class="account-item">
        <img src="assets/icons/ellipse.png" alt="">
        <span>Информирование</span>
    </a>
    <a (click)="navigated.emit()" class="account-item" (click)="onClickLogOut()">
        <img src="assets/icons/ellipse.png" alt="">
        <span>Выйти</span>
    </a>
</div>