<div class="accounts-content">
    <div class="account-item">
        <img src="assets/icons/ellipse.png" alt="">
        <a>Профиль</a>
    </div>
    <div class="account-item">
        <img src="assets/icons/ellipse.png" alt="">
        <a>Тариф</a>
    </div>
    <div class="account-item">
        <img src="assets/icons/ellipse.png" alt="">
        <a>Поддержка</a>
    </div>
    <div class="account-item">
        <img src="assets/icons/ellipse.png" alt="">
        <a>Партнерам</a>
    </div>
    <div class="account-item">
        <img src="assets/icons/ellipse.png" alt="">
        <a>Информирование</a>
    </div>
    <div class="account-item">
        <img src="assets/icons/ellipse.png" alt="">
        <a>Выйти</a>
    </div>
</div>