<div class="pg-container">
    <div>
        <div class="lcb-statistic-heading">
            <h4>Статистика закладок с <mat-form-field class="form-group-calendar">
                    <span (click)="picker.open()">{{startDateControl.value | date:'dd.MM.yyyy'}}</span>
                    <input class="d-none" matInput [matDatepicker]="picker" [matDatepickerFilter]="startDateFilter"
                        [formControl]="startDateControl">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                по <mat-form-field class="form-group-calendar">
                    <span (click)="pickersecond.open()">{{endDateControl.value | date:'dd.MM.yyyy'}}</span>
                    <input class="d-none" matInput [matDatepicker]="pickersecond" [matDatepickerFilter]="endDateFilter"
                        [formControl]="endDateControl">
                    <mat-datepicker #pickersecond></mat-datepicker>
                </mat-form-field>
            </h4>
            <div class="lcb-manage">
                <span>Настройки бонусов от Lift</span>
                <img src="assets/icons/settings.png" alt="Manage posts">
            </div>
        </div>
        <!-- <app-line-chart></app-line-chart> -->
        <table class="table table-image lcb-table">
            <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Лайки</th>
                    <th scope="col">Комменты</th>
                    <!-- <th scope="col">Прогресс</th> -->
                    <th scope="col">Разбивка по постам</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of statistics">
                    <td>{{item?.date | date:'dd.MM.yyyy'}}</td>
                    <td>{{item?.like}}</td>
                    <td>{{item?.comment}}</td>
                    <!-- <td>14%</td> -->
                    <td class="custom-items">
                        <img class="stat-post" [src]="subitem?.thumbnail" *ngFor="let subitem of item[dataKeyForPosts]">
                    </td>
                </tr>

            </tbody>
        </table>
        <button class="load-more" (click)="onClickLoadMore()" *ngIf="isShowLoadMore">Загрузить еще</button>
    </div>
</div>