<div class="pg-container">
    <div class="subscription-accordion accordion" id="accordionExample2">
        <div class="accordion-body">
            <div class="collapse-heading mb-0">
                <img src="assets/icons/next_icon.png" alt="">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    Действия после подписки
                    <img class="arrow-up" src="assets/icons/arrow_up.png" alt="">
                </button>
                <div class="after-count">
                    <span>5 действий</span>
                </div>
            </div>

            <div id="collapseThree" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample2">
                <form [formGroup]="afterSubscriptionForm">

                    <div formGroupName="lastPostLikes" class="inline-checkoxes">
                        <mat-checkbox formControlName="status">Ставить</mat-checkbox>
                        <span class="checkbox-label"> <input formControlName="count" class="range-input" type="number">
                            лайков последним
                            постам</span>
                    </div>
                    <div class="inline-checkoxes">
                        <mat-checkbox formControlName="dontFollowHiddenAccounts">Подписатся на закрытые профили
                        </mat-checkbox>
                    </div>
                    <div class="inline-checkoxes">
                        <mat-checkbox formControlName="seeStories">Просматривать Stories</mat-checkbox>
                    </div>
                    <div class="inline-checkoxes">
                        <mat-checkbox>Комментировать по </mat-checkbox>
                        <span class="checkbox-label"><a href="">шаблону</a></span>
                    </div>
                    <div class="inline-checkoxes">
                        <mat-checkbox formControlName="hidePostsAndStories">Скрывать в ленте публикации и Stories
                        </mat-checkbox>
                    </div>
                    <div formGroupName="unfollowDays" class="inline-checkoxes">
                        <mat-checkbox class="status">Отписываться через</mat-checkbox>
                        <span class="checkbox-label"> <input formControlName="count" class="range-input" type="number">
                            дней</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>