<section class="tariff-section">
    <div class="pg-container">
        <div class="pg-content tariff-container">
            <p class="text pg-title">Управление вашим тарифом</p>
            <div class="tariff-card d-flex ">
                <div class="tariff-card-container d-flex align-items-center justify-content-between">
                    <img src="{{localImage}}" class="rounded-circle  img-responsive user-image">



                    <div class="description ml-2">
                        <p class="title">{{tariff?.current}}</p>
                        <div class="d-flex mt-2 mb-2">
                            <p class="optimal-text">{{tariff?.type}} </p>
                            <img src="assets/icons/help-web-button.png" class="rounded  img-responsive ml-3 help-icon">
                        </div>

                        <p class="title">Оплачено до {{tariff?.paid}}</p>
                    </div>

                    
                    <div class="action-card d-flex flex-wrap">
                        <div class="action-card-item">
                            <div class="action-card-item-content ml-0">
                                <p class="text">Подписка / Отписка</p>
                                <p class="text">30 в час</p>
                            </div>
                        </div>
                        <div class="action-card-item">
                            <div class="action-card-item-content">
                                <p class="text">Лайки</p>
                                <p class="text">30 в час</p>
                            </div>
                        </div>
                        <div class="action-card-item">
                            <div class="action-card-item-content ml-0">
                                <p class="text">Комментирование</p>
                                <p class="text">30 в час</p>
                            </div>
                        </div>
                        <div class="action-card-item">
                            <div class="action-card-item-content">
                                <p class="text">Упоминания</p>
                                <p class="text">30 в час</p>
                            </div>
                        </div>

                    </div>

                    <div class="description ml-2">
                        <p class="title">Переключиться на тариф</p>
                        <div class="d-flex mt-2 mb-2 align-items-center">
                            <p class="title">Стартовый </p>
                            <img src="assets/icons/arrow_down.png" class="rounded  img-responsive ml-3 down-icon">
                        </div>

                        <p class="description-title">Все тарифы</p>
                    </div>

                </div>
            </div>

            <table class="table table-image lcb-table">
                <thead class="thead">
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Операция</th>
                        <th scope="col">Стоимость</th>
                        <th scope="col">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tariffOperation">
                        <td>{{item?.data}}</td>
                        <td>{{item?.operation}}</td>
                        <td class="d-flex">{{item?.cost}}<p class="ml-2">руб</p></td>
                        <td class="income-text" [ngClass]="{'color':item.status=='Отменено'}">{{item?.status}}</td>
                    </tr>

                </tbody>
            </table>
            <button class="show-more">Показать еще операции</button>

        </div>
    </div>
</section>