.tariff-container {
    .text {
        font-size: 24px;
        font-weight: 600;
    }

    .tariff-card {
        margin-top: 37px;
        background: #f6f6f6;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        height: 194px;

        .tariff-card-container {
            margin: 0 65px 0 33px;
            width: 100%;

            .user-image {
                border-radius: 50%;
                border: 1px solid #dddddd;
                width: 100px;
                height: 100px;
            }

            .help-icon,
            .down-icon {
                width: 14px;
                height: 14px;
            }

            .title {
                color: #7d7d7d;
            }

            .optimal-text {
                color: #a5cae1;

                font-size: 18px;
            }

            .action-card {
                margin-left: 56px;
                width: 100%;
                max-width: 494px;

                .action-card-item {
                    width: 50%;

                    .action-card-item-content {
                        margin-left: 14px;
                        margin-top: 14px;
                        border-radius: 4px;
                        border: 2px solid #e1dede;
                        background: #fff;
                        display: flex;
                        height: 60px;
                        flex-direction: column;

                        .text {
                            font-weight: 600;
                            font-size: 16px;
                            margin: auto;

                        }
                    }
                }
            }

            .description-title {
                color: #3399cc;
                font-size: 18px;
            }
        }
    }

    .lcb-table {
        color: 000000;
        margin-top: 48px;

        thead {
            th {
                background: #f6f6f6;
                border-radius: 4px;
                height: 48px;
            }
        }

        .income-text {
            color: #94dac7;
            text-transform: capitalize;
        }

        .canceled-text {
            color: #f77c7c;
            text-transform: capitalize;
        }

        td,
        th {
            vertical-align: middle;
            border: none;
            padding-left: 33px;

        }

        th {
            font-weight: 600;
        }

        td {
            &.custom-items {
                display: flex;
                align-items: center;
                padding: 0.75rem;
            }

            .stat-post {
                height: 50px;
                width: 50px;
                background-color: #b7b7b7;

                &:not(:last-child) {
                    margin-right: 11px;
                }
            }
        }

        thead {
            background: #f6f6f6;
            border-radius: 4px;
            height: 48px;
        }

        tbody {
            tr {
                height: 70px;
                border-bottom: 1px solid #e9e9e9;
            }
        }
    }

    .show-more {
        border-radius: 2px;
        border: none;
        background-color: #f4f4f4;
        width: 100%;
        padding: 29px 0 25px 0;
        font-size: 16px;
        color: #7d7d7d;
        margin: 54px 0;
    }
}


.color {
    color: #f77c7c !important;
}