<div class="pg-container ">
    <div class="pg-content">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="mesgs">
                    <div class="msg_history" #msgContainer [scrollTop]="msgContainer.scrollHeight">
                        <div *ngFor="let message of messages" app-ticket-message [message]="message"></div>
                    </div>
                    <form class="type_msg w-100" [formGroup]="messageForm">
                        <div class="input_msg_write d-flex  align-items-center">
                            <textarea placeholder="Введите сообщение" class="write_msg"
                                formControlName="message"></textarea>
                        </div>
                        <div class="send-btn d-flex justify-content-between">
                            <button class="btn" type="submit" (click)="onClickSend()" [disabled]="messageForm.invalid">Отправить</button>
                            <div class="image-upload">
                                <label for="file-input">
                                    <img height="20" src="assets/icons/attachment.png" />
                                    Прикрепить файл
                                </label>
                                <input class="file" id="file-input" type="file" multiple/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
