.pg-container {
  margin-top: 40px;
}
.subscription-accordion {
  .accordion-body {
    background-color: #f6f6f6;
    padding: 25px 36px;
    border-radius: 6px;
    .collapse-heading {
      display: flex;
      align-items: center;
      position: relative;
      .filters-count {
        padding: 6px 9px 5px 7px;
        background: #0dce99;
        border-radius: 2px;
        span {
          font-family: "SF UI Display Regular";
          font-size: 14px;
          color: white;
        }
      }
      button {
        color: #3d3d3d;
        font-size: 18px;
        text-decoration: none;
        text-align: left;
        img {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.3s;
        }
        &.collapsed {
          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
.parametres-container {
  padding: 25px 0 25px 30px;
  .parameter-item {
    display: flex;
    align-items: center;
    div {
      display: flex;
      flex-wrap: wrap;
      margin-left: 17px;
      &:not(:first-child) {
        margin-left: 5px;
      }

      span {
        font-family: "SF UI Display Regular";
        font-size: 16px;
        color: #7d7d7d;
      }
    }
    .hashtags-container {
      margin-left: 22px;
      .hashtag-item {
        background-color: #d7d7d7;
        border-radius: 4px;
        padding: 10px 12px 10px 13px;
        margin: 0 9px 7px 0;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        input {
          font-family: "SF UI Display Regular";
          font-size: 16px;
          color: #3d3d3d;
          margin-right: 14px;
          background: transparent;
          border: transparent;
          border-radius: 4px;
          // &:focus {
          //   border: inset;
          // }
        }
        img {
          cursor: pointer;
        }
      }
    }
    p {
      color: 3d3d3d;
      font-family: "SF UI Display SemiBold";
      font-size: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 22px;
    }
    &:last-child {
      p:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}
