<!-- FOOTER NAVIGATION -->
<nav class="footer-navigation-container">
    <ul class="footer-navigation">
        <li class="footer-navigation-link">
            <a href="#">
                Компания
            </a>
        </li>
        <li class="footer-navigation-link">
            <a href="#">
                Пользовательское соглашение
            </a>
        </li>
        <li class="footer-navigation-link">
            <a href="#">
                Частые вопросы
            </a>
        </li>
        <li class="footer-navigation-link">
            <a href="#">
                Контактная информация
            </a>
        </li>
    </ul>
    <div class="copyright">
        <span>
            © 2020 ООО «Lift»
        </span>
    </div>
</nav>


<!-- END FOOTER NAVIGATION -->