<div class="switch-account-content">
    <div class="switch-account-content-container">
        <div class="switch-account-item">
            <p>@mshecyan98</p>
        </div>
        <div class="switch-account-item">
            <p class="active">@mshecyan98</p>
        </div>
        <div class="switch-account-item">
            <p>@mshecyan98</p>
        </div>
        <div class="switch-account-item">
            <p>@mshecyan98</p>
        </div>
        <div class="switch-account-item">
            <p>@mshecyan98</p>
        </div>
    </div>

    <p class="add-account" (click)="openAccontConnectionModal()">+Добавить аккаунт</p>

</div>