.switch-account-content {
  position: absolute;
  left: 0;
  top: 35px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 320px;
  max-height: 411px;
  padding: 32px 15px 25px 22px;
  .switch-account-content-container {
    max-height: 286px;
    overflow-y: auto;
    margin-bottom: 36px;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #c4c4c4;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #c4c4c4;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #545454;
    }
    .switch-account-item {
      width: 250px;
      height: 45px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      &:not(:last-child) {
        margin-bottom: 22px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 22px;
        color: #000000;
        &.active {
          font-weight: bold;
        }
      }
    }
  }
  .add-account {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.25);
  }
}
