<section class="presonal-settings-container">
    <div class="personal-settings-form data-form">
        <form [formGroup]="dataForm">
            <div class="form-group d-flex">
                <label for="account" class="col-form-label label">Тип аккаунта</label>
                <div class="input-content d-flex align-items-center">
                    <img [src]="localImage" class="rounded-circle img-responsive user-image img-center">
                    <div class=" ml-2">
                        <div class="d-flex">
                            <p class="text">Стандартный</p>
                            <img src="assets/images/help-web-button.png"
                                class="ml-3 rounded-circle img-responsive help-image">
                        </div>
                        <label for="photo" class="data-text cursor-pointer">Изменить</label>
                        <input type="file" (change)="changePhoto($event)" class="d-none" id="photo"
                            accept=".png,.jpg,.jpeg" />
                    </div>
                </div>
            </div>
            <div class="form-group d-flex">
                <label for="firstname" class="col-form-label label ">Ваше Фамилия и Имя</label>
                <div class="input-item  d-flex">
                    <div class="input-content">
                        <input id="firstname" name="firstname" placeholder="Имя" class="form-control here"
                            required="required" type="text" formControlName="name"
                            [ngClass]="{'border-red':checkIsValid(dataForm,'name')}">
                    </div>
                </div>
            </div>
            <div class="form-group d-flex">
                <label for="select" class="col-form-label label ">Дата рождения</label>
                <div class="input-item d-flex">
                    <div class="input-content">
                        <select class="custom-select" formControlName="day">
                            <option selected>День</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>
                    <div class="input-content">
                        <select class="custom-select" formControlName="month">
                            <option selected>Месяц</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="input-content">
                        <select class="custom-select" formControlName="year">
                            <option selected>Год</option>
                            <option value="1990">1990</option>
                            <option value="1991">1991</option>
                            <option value="1992">1992</option>
                            <option value="1993">1993</option>
                            <option value="1994">1994</option>
                            <option value="1995">1995</option>
                            <option value="1996">1996</option>
                            <option value="1997">1997</option>
                            <option value="1998">1998</option>
                            <option value="1999">1999</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex">
                <label id="example-radio-group-label" class="col-form-label label">Пол</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="male"
                    class="example-radio-group">
                    <mat-radio-button [value]="true" class="example-radio-button">
                        Мужской
                    </mat-radio-button>
                    <mat-radio-button [value]="false" class="example-radio-button">
                        Женский
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </form>
    </div>

    <div class="personal-settings-form connected-accounts-content">
        <div class="form-group d-flex">
            <label for="account" class="col-form-label label">Подключенные
                аккаунты</label>
            <div class="connected-content">
                <div class="d-flex align-items-center">
                    <div class="connected-accounts d-flex flex-wrap">
                        <div *ngFor="let account of userAccounts"
                            class="connected-accounts-item ordinal d-flex align-items-center"
                            [class.border-red]="!account.verification">
                            <div class="user-img">
                                <img [src]="(account?.avatar) ? account.avatar : 'assets/images/user.png'"
                                    class="rounded-circle img-responsive account-image">
                                <div class="account-change-overlay" (click)="onClickChangeAccount(account)"><i class="material-icons icon">create</i></div>
                            </div>
                            <p class="text ml-2">{{account.login}}</p>
                            <img class="delete-account" [src]="'assets/icons/x.png'"
                                (click)="openActionModal(account.id)" alt="">
                        </div>
                        <div (click)="onClickAddAccount()"
                            class="connected-accounts-item add-account d-flex align-items-center">
                            <img src="assets/images/add.png" class="rounded-circle img-responsive add-image">
                            <p class="text add-text ml-2">Добавить аккаунт</p>
                        </div>
                    </div>
                </div>
                <p class="description-text">В рамках вашего тарифа вы можете подключить еще 8 аккаунтов для продвижения
                </p>
            </div>
        </div>
    </div>

    <div class="personal-settings-form contacts-form">
        <form [formGroup]="contactForm">
            <div class="form-group d-flex">
                <label for="phoneNumber" class="col-form-label label ">Контактный номер</label>
                <div class=" input-content">
                    <input id="phoneNumber" name="phoneNumber" prefix="+7" mask="(000) 000 00 00"
                        placeholder="Контактный номер" class="form-control here" type="text"
                        formControlName="phoneNumber"
                        [ngClass]="{'border-red':checkIsValid(contactForm,'phoneNumber')}">
                </div>
            </div>

            <div class="form-group d-flex ">
                <label for="current-city" class="col-form-label label ">Город проживания</label>
                <div class="input-content">
                    <input id="current-city" name="current-city" placeholder="Город проживания"
                        class="form-control here" type="text" formControlName="currentCity"
                        [ngClass]="{'border-red':checkIsValid(contactForm,'currentCity')}">
                </div>
            </div>

        </form>
    </div>
    <div class="d-flex save-button-content">
        <button name="submit" type="submit" (click)="changeMe()"
            [disabled]="loading || contactForm.invalid || dataForm.invalid" class="btn save-button">Сохранить и перейти
            дальше<img src="assets/icons/next.png" class="rounded img-responsive save-image ml-3"></button>
    </div>


</section>