.presonal-settings-container {
  .label {
    padding: 0;
    width: 100%;
    max-width: 210px;
  }

  .input-content {
    padding: 0;
    max-width: 300px;
    width: 100%;
  }

  .custom-select {
    width: 113px;
  }

  .personal-settings-form {
    &:after {
      content: "";
      display: block;
      width: 100%;
      border: 1px solid #d7d7d7;
      margin: 55px 0 28px 0;
    }
  }

  .data-form {
    .user-image {
      border: 2px solid #63b0d6;
      width: 65px;
      height: 65px;
    }

    .help-image {
      width: 20px;
      height: 20px;
    }

    .data-text {
      color: #a5cae1;
    }

    .input-item {
      padding: 0;
    }
  }

  .connected-accounts-content {
    .connected-content {
      width: 100%;
      max-width: 930px;

      .connected-accounts {
        .add-account {
          cursor: pointer;
        }
        .connected-accounts-item {
          margin-right: 43px;
          position: relative;
          &.ordinal {
            &:hover > .delete-account {
              display: block;
            }
            .delete-account {
              display: none;
            }
          }
          .delete-account {
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
          .accoutn-image {
            border: 2px solid #f6f6f6;
            width: 65px;
            height: 65px;
          }

          .add-text {
            color: #c1c0c0;
          }

          .add-image {
            width: 49px;
            height: 49px;
          }
        }
      }

      .description-text {
        margin-top: 19px;
        color: #8a9398;
      }
    }
  }

  .save-button {
    color: white;
    background: #71ceb5;
    padding: 17px 98px;
    margin: 40px auto;
  }
}

.border {
  border: 1px solid red !important;
}

::ng-deep mat-radio-button {
  margin-right: 15px !important;
  .mat-radio-container {
    .mat-radio-outer-circle {
      border-color: #3399cc !important;
    }
    .mat-radio-inner-circle {
      background-color: #3399cc !important;
    }
  }
}
