.add-post-modal {
    width: 100%;

    .add-post-moda-header {
        .close-icon {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }

    .add-post-moda-container {

        margin-top: 21px;
        padding: 0;

        .select-file {
            border: 1px solid #cccccc;
            height: 480px;
            background: #eaf0f3;
            padding: 0;
        }
    }
}