.autoposting {
  .calendar-title {
    margin: 30px 0 34px 0;
    font-size: 24px;
    font-family: "SF UI Display SemiBold";
    color: #333333;
    span.highlight {
      color: #3399cc;
    }
  }
  .action-button,
  .action-button {
    font-family: "SF UI Display SemiBold";
    font-size: 16px;
    border-radius: 6px;
    margin-right: 17px;
    display: flex;
    align-items: center;
    img {
      margin-right: 11px;
    }
  }
  .primary-btn {
    background: transparent;
    border: 2px solid #3399cc;
    color: #3399cc;
  }
  .pink-btn {
    background: transparent;
    border: 2px solid #a076b2;
    color: #a076b2;
  }
  .search-for-ideas {
    margin-left: auto;
    font-family: "SF UI Display Semibold";
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #49c59e;
    padding: 10px 15px;
    img {
      margin-right: 11px;
    }
  }
  .watch-video {
    background: transparent;
    border: none;
    color: #3399cc;
    font-family: "SF UI Display Regular";
    font-size: 18px;
    padding: 0;
    img {
      margin-right: 10px;
    }
  }
  .calendar-actions{
    margin-top: 20px;
  }
  .calendar {
    margin: 17px 0 40px 0;
  }
}
