<div class="user-details">
    <div class="pg-container d-flex align-items-center">
        <div class="text-center">
            <img src="assets/images/preview_user_image.png" class="rounded-circle img-responsive user-image">
            <p class="user-respons-name align-items-center">jess.wandering</p>
        </div>
        <div class="ml-5">
            <div class="user-description d-flex align-items-center">
                <p class="user-name">jess.wandering</p>
                <button class="btn button ml-3"><span>Перейти в профиль</span></button>
            </div>
            <div class="user-subscription d-flex mt-2">
                <p class="subscription-text text-center  d-flex"><b>704</b> публикаций</p>
                <p class="subscription-text text-center d-flex  ml-5"><b>739тыс.</b> подписчиков</p>
                <p class="subscription-text text-center d-flex  ml-5"><b>739</b> подписки</p>
            </div>
        </div>
    </div>
</div>