<div class="pg-container">
    <div class="subscription-heder">
        <div class="subscription-title">
            <p>Автоматически подписываться</p>
        </div>
        <div class="subscribers-statistic">
            <p> Статистика по подпискам</p> <img src="assets/icons/graph.png">
        </div>
    </div>
    <div class="subscription-accordion accordion" id="accordionExample">
        <div class="accordion-body">
            <div class="collapse-heading mb-0">
                <img src="assets/icons/setting-1.png" alt="">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Параметры подписки
                </button>
                <img class="arrow-up" src="assets/icons/arrow_up.png" alt="">
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <h4 class="same-conditions">
                    Должны одновременно соблюдаться условия ниже
                </h4>
                <div class="conditions-list">

                    <app-subscribe-watch-condition></app-subscribe-watch-condition>
                </div>
            </div>
        </div>


    </div>
</div>