<div class="pg-container">
    <div class="subscription-heder">
        <div class="subscription-title">
            <p>Автоматически подписываться</p>
        </div>
        <div class="subscribers-statistic">
            <p> Статистика по подпискам</p> <img src="assets/icons/graph.png">
        </div>
    </div>
    <div [formGroup]="suitableSubsOrStoryForm" class="subscription-accordion accordion" id="accordionExample">
        <div class="accordion-body">
            <div class="collapse-heading mb-0">
                <img src="assets/icons/setting-1.png" alt="">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Параметры подписки
                    <img class="arrow-up" src="assets/icons/arrow_up.png" alt="">
                </button>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <h4 class="same-conditions">
                    Должны одновременно соблюдаться условия ниже
                </h4>
                <div class="conditions-list">
                    <app-subscribe-watch-condition [index]="i" *ngFor="let condition of conditions;let i = index">

                    </app-subscribe-watch-condition>
                    <button [disabled]="conditions.length > 4" class="add-condition" (click)="conditions.push(1)">+
                        Добавить
                        условие</button>
                </div>
                <div class="subscribes-limits">
                    <div class="subscribes-limits-item">
                        <input formControlName="maximumPerDay" type="number"> <span>Максимум в
                            день</span>
                        <mat-slider max="200" min="0" [value]="suitableSubsOrStoryForm.get('maximumPerDay').value"
                            (change)="onChange($event,suitableSubsOrStoryForm.get('maximumPerDay'))">
                        </mat-slider>
                    </div>
                    <div class="subscribes-limits-item">
                        <input type="text" formControlName="maximumPerHour"> <span>Максимум в час</span>
                        <mat-slider (change)="onChange($event,suitableSubsOrStoryForm.get('maximumPerHour'))"
                            class="example-margin" max="40" min="0"
                            [value]="suitableSubsOrStoryForm.get('maximumPerHour').value"
                            formControlName="maximumPerHour">
                        </mat-slider>
                    </div>
                    <div class="subscribes-limits-item">
                        <mat-checkbox>Ограничения по времени публикации</mat-checkbox>
                    </div>
                </div>
                <!-- <div class="save-discard-settings">
                    <button class="discard">Отменить</button>
                    <button class="save" (click)='onSave()'>Сохранить</button>
                </div> -->
            </div>
        </div>


    </div>
</div>