<div *ngIf="vm$ | async as vm">
    <section class="preview-content">
        <div class="user-details  d-flex">
            <img src="assets/images/preview_user_image.png" class="rounded-circle img-responsive user-image">
            <div class="mt-4 ml-5">
                <div class="user-description d-flex  align-items-center">
                    <p class="user-name">jess.wandering</p>
                    <button class="btn button ml-3"><span>Перейти в профиль</span></button>
                </div>
                <div class="user-subscription  d-flex mt-2">
                    <p class="subscription-text"><b>704</b> публикаций</p>
                    <p class="subscription-text ml-5"><b>739тыс.</b> подписчиков</p>
                    <p class="subscription-text ml-5">Подписки <b>367</b></p>
                </div>

            </div>
        </div>
        <div>
            <div class="statistics row ml-0 mr-0">
                <div class="statistics-card col">
                 <div class="card-content  mt-4 ml-3">
                     <div class="card-descrption  d-flex">
                         <img src="assets/images/previw_card_icon.png" class="rounded img-responsive card-image">
                         <div class="card-text align-items-center  ml-5">
                                <p class="text">подписчики</p>
                                <p class="text value">80252</p>
                         </div>
                         <div  class="progress">
                                <p  class="progress-text">+23 сегодня</p>
                                <p >Прогресс</p>

                            </div>
                        
                     </div>
                    
                 </div>
                </div>
                <div class="statistics-card col ml-4">
                </div>
            </div>
        </div>
    </section>
</div>