.preview-content {
  width: 100%;

  .user-details {
    padding-top: 31px;
    padding-bottom: 24px;

    .user-image {
      width: 130px;
      height: 130px;
    }

    .user-description {
      .user-name {
        font-family: "SF UI Display Regular";
        color: #3c3c3c;
        font-size: 23px;
      }

      .button {
        background-color: #3399cc;
        border-color: #3399cc;
        color: #ffffff;
        font-family: "SF UI Display SemiBold";
      }
    }
  }

  .statistics {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f6f6f6;

    .statistics-card {
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
      height: 260px;

      .card-content {
        padding: 25px;
        .card-descrption {
          padding: 15px;
          .card-image {
            width: 80px;
            height: 80px;
          }

          .value {
            font-size: 36px;
            color: #3c637e;
          }

          .progress-description {
            .progress-text {
              font-size: 18px;
              color: #959595;
            }

            .progress-value {
              color: #71ceb5;
            }
          }
        }

        .card-chart {
        }
      }
    }
  }

  .action {
    padding: 30px 0;
    .action-item {
      padding: 0;
      .action-item-content {
        background-color: white;
        height: 120px;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);

        .action-content {
          margin: auto;
          .action-image {
            height: 70px;
            width: 70px;
          }

          .action-text {
            .value {
              font-size: 30px;
              color: #3c637e;
            }

            .action-icon {
              height: 15px;
              width: 15px;
            }
          }
        }
      }
    }
  }

  .posts {
    padding: 24px 0;

    .title {
      font-size: 24px;
    }

    .slide-item {
      background-color: #f6f6f6;
    }
  }

  .slide-item {
    height: 180px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
    margin: 0 12px;

    .post-description {
      .post-review {
        .review-icon {
          width: 20px;
          height: 20px;
        }
      }

      .post-image {
        width: 130px;
        height: 130px;
      }
    }
  }

  .mailing-lists {
    padding: 24px 0;
    background-color: #f6f6f6;

    .title {
      font-size: 24px;
    }

    .slide-item {
      background-color: white;

      .mailing-list-image {
        width: 130px;
        height: 130px;
      }
    }
  }

  .settings {
    .setting-detailes {
      &-content {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        padding: 15px 0;
      }

      .title {
        font-size: 24px;
      }

      .rate {
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        padding: 15px 0;

        .title {
          color: #3399cc;
          font-size: 16px;
        }

        .controles-image {
          height: 15px;
          width: 15px;
        }

        .rate-content {
          .rate-item {
            .rate-item-image {
              height: 13px;
              width: 13px;
            }
          }
        }
      }

      .calendar-item {
        .calendar-image {
          height: 23px;
          width: 23px;
        }
      }

      .add-image {
        height: 15px;
        width: 15px;
      }
    }
  }

  .direc {
    padding: 30px 0;
    border-bottom: 1px solid #f6f6f6;

    .title {
      font-size: 24px;
    }

    .direc-content {
      .direc-image {
        height: 60px;
        width: 60px;
      }
    }
  }
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #ffffff !important;
  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #71ceb5 !important;
  /*replace with your color*/
}

::ng-deep .slick-dots li.slick-active button:before {
  color: #3f9fcf !important;
  font-size: 8px !important;
  line-height: 8px !important;
}

::ng-deep .slick-list {
  padding: 5px 0;
}

::ng-deep .slick-dots button:before {
  color: #4696bd !important;
  font-size: 8px !important;
  line-height: 8px !important;
}
