.preview-content {
    width: 100%;
    .user-details {
        .user-image {
            width: 130px;
            height: 130px;
        }

        .user-description {
            .user-name {
                font-size: 23px;
            }

            .button {
                background-color: #3399cc;
                border-color: #3399cc;
                color: #ffffff;
            }
        }
    }
    .statistics{
        margin-top: 66px;
        .statistics-card{
            height: 260px;
            border-radius: 4px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
            .card-content{
                border: 1px solid black;
                .card-descrption{
                    .card-image{
                        width: 80px;
                        height: 80px;
                    }
                    .value{
                        font-size: 36px;
                        color: #3c637e
                    }
                .progress{
                    .progress-text{
                        font-size: 18px;
                        color: #959595;
                    }
                }
                }
            }
        }
    }
}