// .preview-content {
//   .statistics {
//     padding-top: 50px;
//     padding-bottom: 50px;
//     background-color: #f6f6f6;

//     .statistic-row {
//       display: flex;
//       width: 100%;

//       .statistic-col {
//         width: 50%;
//         padding: 15px;

//         .statistics-card {
//           background-color: white;
//           border-radius: 4px;
//           box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
//           padding: 20px;

//           .card-descrption {

//             .card-image {
//               width: 70px;
//               height: 70px;
//             }

//             .value {
//               font-size: 30px;
//               color: #3c637e;
//             }

//             .progress-description {
//               .progress-text {
//                 font-size: 18px;
//                 color: #959595;
//               }

//               .progress-value {
//                 color: #71ceb5;
//               }
//             }
//           }

//           .card-chart {
//             margin-top: 30px;
//           }
//         }
//       }
//     }

//   }

//   .action-row {
//     width: 100%;

//     .action-col {
//       width: 25%;
//       padding: 15px;

//       .action-item-content {
//         background-color: white;
//         border-radius: 4px;
//         box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
//         padding: 20px 0;

//         .action-content {
//           margin: auto;

//           .action-image {
//             height: 70px;
//             width: 70px;
//           }

//           .action-text {
//             .value {
//               font-size: 30px;
//               color: #3c637e;
//             }

//             .action-icon {
//               height: 15px;
//               width: 15px;
//             }
//           }
//         }
//       }
//     }
//   }

//   .posts {
//     padding: 24px 0;

//     .title {
//       font-size: 24px;
//     }
//   }

//   .slider-container {
//     .auto-promotion-title {
//       display: none;
//     }

//     .slide {
//       .slide-item {
//         border-radius: 4px;
//         box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
//         margin: 0 12px;
//         background-color: #f6f6f6;
//         padding-bottom: 20px;


//         .post-description {
//           .post-review {
//             .review-icon {
//               width: 20px;
//               height: 20px;
//             }
//           }

//           .post-image {
//            c
//           }

//           .post-light-content {
//             flex-direction: column-reverse !important;
//           }
//         }
//       }
//     }
//   }

//   .mailing-lists {
//     padding: 24px 0;
//     background-color: #f6f6f6;

//     .title {
//       font-size: 24px;
//     }

//     .slide-item {
//       background-color: white;

//       .mailing-list-image {
//         width: 130px;
//         height: 130px;
//       }
//     }

//   }

//   .settings {
//     .settings-row {
//       display: flex;
//       width: 100%;
//       flex-wrap: wrap;

//       .setting-detailes {
//         width: 50%;
//         padding: 15px;

//         &-content {
//           width: 100%;
//           height: 100%;
//           border-radius: 4px;
//           box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
//           padding: 15px 0;
//         }

//         .title {
//           font-size: 24px;
//         }

//         .rate {
//           border-radius: 4px;
//           box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
//           padding: 15px 0;

//           .title {
//             color: #3399cc;
//             font-size: 16px;
//           }

//           .controles-image {
//             height: 15px;
//             width: 15px;
//           }

//           .rate-content {
//             .rate-item {
//               .rate-item-image {
//                 height: 13px;
//                 width: 13px;
//               }
//             }
//           }
//         }

//         .calendar-item {
//           .calendar-image {
//             height: 23px;
//             width: 23px;
//           }
//         }

//         .add-content {
//           display: block;

//           .add-image {
//             height: 15px;
//             width: 15px;
//           }
//         }

//       }
//     }
//     .change-content {
//       display: none;
//       .text {
//         margin-top: 20px;
//         color: #3f9fcf;
//       }
//     }
//   }

//   .event-content {
//     display: none;

//     .add-button {
//       background: #f6f6f6;
//       width: 100%;
//       font-weight: bold;
//       display: flex;
//       padding: 20px 0;

//       .add-image {
//         height: 14px;
//         width: 14px;
//       }
//     }

//     .text {
//       margin-top: 20px;
//       color: #3f9fcf;

//       &::after {
//         display: block;
//         content: "";
//         width: 100%;
//         border: 1px solid #f6f6f6;
//         margin-top: 20px;
//       }
//     }

//   }




//   .direc {
//     padding: 30px 0;
//     border-bottom: 1px solid #f6f6f6;

//     .title {
//       font-size: 24px;
//     }

//     .direc-content {
//       .direc-image {
//         height: 60px;
//         width: 60px;
//       }
//     }
//   }
// }

// ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
//   background-color: #ffffff !important;
//   /*replace with your color*/
// }

// ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
//   background-color: #71ceb5 !important;
//   /*replace with your color*/
// }

// ::ng-deep .slick-dots li.slick-active button:before {
//   color: #3f9fcf !important;
//   font-size: 8px !important;
//   line-height: 8px !important;
// }

// ::ng-deep .slick-list {
//   padding: 5px 0;
// }

// ::ng-deep .slick-dots button:before {
//   color: #4696bd !important;
//   font-size: 8px !important;
//   line-height: 8px !important;
// }


.preview-content {
  border: 1px solid black;
  margin: 31px auto;
  background-color: #f6f6f6;

  .statistics {
    .statistic-content {
      margin-top: 25px;


      .statistic-card {
        .card-item {
          width: 50%;
          padding: 15px;

          .card {
            background-color: white;
            border-radius: 4px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);

            .card-description {
              margin: 39px 34px 22px 34px;

              .card-top-content {
                .card-subscription {
                  margin-left: 24px;

                  .text {
                    font-size: 18px;
                    color: #7d7d7d;
                  }

                  .value {
                    font-size: 30px;
                    color: #3c637e;
                  }
                }

                .card-progress {
                  margin-left: 30px;

                  .progress-text {
                    font-size: 18px;
                    color: #959595;
                  }

                  .progress-value {
                    font-size: 18px;
                    color: #b8e6da;
                  }
                }
              }

              .card-chart {
                margin-top: 39px;
              }
            }

          }
        }
      }
    }
  }

  .action {
    margin-top: 24px;

    .acton-item {
      width: 25%;
      padding: 15px;

      .card {
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.23);
        padding: 30px 0;

        .card-description {
          margin: auto;

          .action-description {
            margin-left: 28px;

            .text {
              font-size: 15px;
              color: #7d7d7d;
            }

            .value {
              font-size: 25px;
              color: #3c637e;
            }
          }
        }
      }
    }
  }

  .slider-content {
    margin-top: 50px;

    .title {
      font-weight: bold;
      font-size: 20px;
      padding: 15px;

      .down-image {
        display: none;
        height: 14px;
        width: 14px;
      }
    }

    .slider-item {
      border-radius: 4px;
      box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
      margin: 0 12px;
      background-color: white;

      .slider-description {
        margin: 13px;
        .post-image {
          width: 130px;
          height: 130px;
        }
        .posts{
          margin-left: 14px;
          .text-date{
            font-size: 14px;
            color: #adadad;
          }
          .text{
            font-weight: 600;
            font-size: 18px;
            margin-top: 10px;
          }
        }
      }
    }

  }
}