<div *ngIf="vm$ | async as vm">
    <section class="preview-content">
        <div class="user-details  d-flex">
            <img src="assets/images/preview_user_image.png" class="rounded-circle img-responsive user-image">
            <div class="mt-4 ml-5">
                <div class="user-description d-flex  align-items-center">
                    <p class="user-name">jess.wandering</p>
                    <button class="btn button ml-3"><span>Перейти в профиль</span></button>
                </div>
                <div class="user-subscription  d-flex mt-2">
                    <p class="subscription-text"><b>704</b> публикаций</p>
                    <p class="subscription-text ml-5"><b>739тыс.</b> подписчиков</p>
                    <p class="subscription-text ml-5">Подписки <b>367</b></p>
                </div>

            </div>
        </div>
        <div>
            <div class="statistics row ml-0 mr-0">
                <div class="statistics-card col">
                    <div class="card-content  mt-4 ml-3">
                        <div class="card-descrption  d-flex">
                            <img src="assets/images/previw_card_icon.png" class="rounded img-responsive card-image">
                            <div class="card-text align-items-center  ml-5">
                                <p class="text">подписчики</p>
                                <p class="text value">80252</p>
                            </div>
                            <div class="progress-description ml-5">
                                <p class="progress-text">+23 сегодня <img src="assets/images/preview_up_icon.png"
                                        class="rounded img-responsive"></p>
                                <p>Прогресс <b class="progress-value">0.3%</b> </p>

                            </div>

                        </div>
                        <div class="card-chart"></div>

                    </div>
                </div>
                <div class="statistics-card col ml-4">
                    <div class="card-content  mt-4 ml-3">
                        <div class="card-descrption  d-flex">
                            <img src="assets/images/preview_card_like_icon.png"
                                class="rounded img-responsive card-image">
                            <div class="card-text align-items-center  ml-5">
                                <p class="text">Лайки</p>
                                <p class="text value">258656</p>
                            </div>
                            <div class="progress-description ml-5">
                                <p class="progress-text">+3200 сегодня <img src="assets/images/preview_up_icon.png"
                                        class="rounded img-responsive"></p>
                                <p>Прогресс <b class="progress-value">1.75%</b></p>

                            </div>

                        </div>
                        <div class="card-chart"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="action row mt-4 ml-0 mr-0">
            <div class="action-item col">
                <div class="action-content  mt-4 ml-3  d-flex">
                    <img src="assets/images/action_posts.png" class="rounded img-responsive action-image">
                    <div class="action-text align-items-center  ml-5">
                        <p class="text">Посты</p>
                        <p class="text value">152</p>
                        <p class="text">2 сегодня</p>
                    </div>
                </div>
            </div>
            <div class="action-item col ml-3">
                <div class="action-content  mt-4 ml-3  d-flex">
                    <img src="assets/images/action_bookmark.png" class="rounded img-responsive action-image">
                    <div class="action-text align-items-center  ml-5">
                        <p class="text">Закладки</p>
                        <p class="text value">128</p>
                        <div class="d-flex align-items-center">
                            <p class="text">0 сегодня</p>
                            <img src="assets/images/action_str.png" class="rounded img-responsive action-icon  ml-3">
                        </div>

                    </div>
                </div>
            </div>
            <div class="action-item col ml-3">
                <div class="action-content  mt-4 ml-3  d-flex">
                    <img src="assets/images/action_comments.png" class="rounded img-responsive action-image">
                    <div class="action-text align-items-center  ml-5">
                        <p class="text">Комментарии</p>
                        <p class="text value">389</p>
                        <div class="d-flex align-items-center">
                            <p class="text">+55 сегодня</p>
                            <img src="assets/images/preview_up_icon.png"
                                class="rounded img-responsive action-icon  ml-3">
                        </div>

                    </div>
                </div>
            </div>
            <div class="action-item col ml-3">
                <div class="action-content  mt-4 ml-3  d-flex">
                    <img src="assets/images/action_subscribe.png" class="rounded img-responsive action-image">
                    <div class="action-text align-items-center  ml-5">
                        <p class="text">Подписки</p>
                        <p class="text value">410</p>
                        <div class="d-flex align-items-center">
                            <p class="text">-124 сегодня</p>
                            <img src="assets/images/preview_down_icon.png"
                                class="rounded img-responsive action-icon  ml-3">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="posts  mt-4">
            <p class="title mb-3">Лучшие посты за последний месяц</p>
            <ngx-slick-carousel class="carousel  row ml-0 mr-0" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem class="slide">
                    <div class="slide-item">
                        <div class="post-description  d-flex">
                            <img src="assets/images/post1.png" class="rounded img-responsive post-image ml-3 mt-3 mr-3">
                            <div class="mt-3 d-flex flex-column justify-content-between">
                                <div>
                                    <p class="text">14 Декабря </p>
                                    <p class="text">Utah Dream World </p>
                                </div>

                                <div class="post-review d-flex">
                                    <img class="rounded img-responsive review-icon mr-1" src="assets/images/like.png ">
                                    <p class="value">12588</p>
                                    <img class="rounded img-responsive review-icon ml-1 mr-1"
                                        src="assets/images/chat.png ">
                                    <p class="value">126</p>
                                    <img class="rounded img-responsive review-icon ml-1 mr-1"
                                        src="assets/images/bookmark.png">
                                    <p class="value">718</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="slide-item ml-3">
                        <div class="post-description  d-flex">
                            <img src="assets/images/post2.png" class="rounded img-responsive post-image ml-3 mt-3 mr-3">
                            <div class="mt-3 d-flex flex-column justify-content-between">
                                <div>
                                    <p class="text">16 Декабря </p>
                                    <p class="text">Mammoth Lake </p>
                                </div>
                                <div class="post-review d-flex">
                                    <img class="rounded img-responsive review-icon mr-1" src="assets/images/like.png ">
                                    <p class="value">11366</p>
                                    <img class="rounded img-responsive review-icon ml-1 mr-1"
                                        src="assets/images/chat.png ">
                                    <p class="value">93</p>
                                    <img class="rounded img-responsive review-icon ml-1 mr-1"
                                        src="assets/images/bookmark.png">
                                    <p class="value">588</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide">
                    <div class="slide-item ml-3">
                        <div class="post-description  d-flex">
                            <img src="assets/images/post3.png" class="rounded img-responsive post-image ml-3 mt-3 mr-3">
                            <div class="mt-3 d-flex flex-column justify-content-between">
                                <div>
                                    <p class="text">Вчера </p>
                                    <p class="text">New Zeland 2019
                                        My Summer trip </p>
                                </div>
                                <div class="post-review d-flex">
                                    <img class="rounded img-responsive review-icon mr-1" src="assets/images/like.png ">
                                    <p class="value">16770</p>
                                    <img class="rounded img-responsive review-icon ml-1 mr-1"
                                        src="assets/images/chat.png ">
                                    <p class="value">205</p>
                                    <img class="rounded img-responsive review-icon ml-1 mr-1"
                                        src="assets/images/bookmark.png">
                                    <p class="value">1052</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </ngx-slick-carousel>

        </div>
    </section>
</div>