.account-by-location-container {
  display: flex;
  align-items: center;
  .account-by-location {
    padding: 17px 8px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    .location-item {
      background-color: #d7d7d7;
      border-radius: 4px;
      padding: 10px 12px 10px 13px;
      margin: 0 9px 7px 0;
      &.invalid {
        border: 1px solid #dc3545;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      img {
        cursor: pointer;
      }
    }
    .add-location {
      font-family: "SF UI Display Regular";
      font-size: 16px;
      color: #7d7d7d;
      cursor: pointer;
    }
  }
  .clear-all-fields {
    display: flex;
    align-items: center;
    margin-left: 22px;
    img {
      margin-right: 10px;
    }
    p {
      font-family: "SF UI Display Regular";
      font-size: 16px;
      color: #7d7d7d;
      text-transform: uppercase;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}
#map {
  width: 100%;
  height: 350px;
  margin: 30px auto auto auto;
}
p-autoComplete {
  ::ng-deep {
    input.ui-inputtext {
      padding-left: 0 !important;
    }
    input.ui-autocomplete-input {
      font-family: "SF UI Display Regular" !important;
      font-size: 16px !important;
      color: #3d3d3d !important;
      margin-right: 14px;
      background: transparent !important;
      border: transparent !important;
      border-radius: 4px !important;
      padding-left: 8px !important;

      // &:focus {
      //   border: inset !important;
      // }
    }
  }
}
