<div [formGroup]="locationForm" class="account-by-location-container">
    <div class="account-by-location">
        <div class="location-item" formArrayName="items"
            *ngFor="let item of locationForm.get('items').controls; let i = index;">

            <div [formGroupName]="i">

                <p-autoComplete formControlName="label" [suggestions]="results" (completeMethod)="search($event)"
                    [size]="item.get('label').value.length || 5">
                </p-autoComplete>
                <img (click)="deleteLocation(item.value)" src="assets/icons/delete-1.png">
            </div>
        </div>
        <p (click)="addItem()" class="add-location">Добавить локацию</p>

    </div>
    <div (click)="clearAll()" class="clear-all-fields">
        <img src="assets/icons/trash.png">
        <p>очистить все</p>
    </div>
</div>
<div id="map">

</div>