<div class="direct-sent">
    <div class="top-content d-flex flex-wrap">
        <div class="top-item d-flex flex-column align-items-center">
            <img src="assets/images/sent.png" class="rounded img-responsive item-image">
            <p class="text">Всего отправлено</p>
            <p class="value">4 508</p>
        </div>
        <div class="top-item  d-flex flex-column align-items-center">
            <img src="assets/images/mail.png" class="rounded img-responsive item-image">
            <p class="text">Ответили</p>
            <p class="value">454</p>
        </div>
        <div class="top-item  d-flex flex-column align-items-center">
            <img src="assets/images/podium.png" class="rounded img-responsive item-image">
            <p class="text">Успешность рассылки</p>
            <p class="value">11%</p>
        </div>
    </div>
    <div class="send-text-description">
        <p class="text">
            Время от времени GetResponse может предлагать бета-версию новых функций. Это проводится для того, чтобы наши
            Клиенты смогли их протестировать и помочь нам лучше понять свои запросы и соответственно доработать наш
            Сервис. Если вы захотите использовать функцию, доступную вам в виде бета-версии, вы соглашаетесь, что:
            Эта функция является доступной в течение ограниченного периода времени и может быть отключена в любое время
            по нашему усмотрению.
            Эта функция является доступной в ограниченном объеме, который может быть изменен в любое время по нашему
            усмотрению.
            GetResponse не гарантирует, что любая функция, доступная в бета-версии, будет включена в Сервис, и мы не
            несем обязанности сохранять или поддерживать любую такую функцию и можем отказаться от дальнейшего развития
            любой такой функции в любое время по нашему усмотрению.
            Вы несете полную ответственность за последствия использования бета-версии, включая, но не ограничиваясь за
            все изменения настроек вашего Аккаунта, заданных или планируемых кампаний, собираемых данных и другой
            информации и т.д. Пожалуйста, примите во внимание, что как только мы отключим режим бета-версии,
            определенные процессы, которые вы создали или настроили в вашем Аккаунте, заданные или планируемые кампании,
            собираемые данные или иная информация, могут быть не сохранены, и GetResponse не будет нести ответственность
            за последствия, вытекающие из этого.
            После завершения периода бета-тестирования одна или несколько функций из бета-версии может быть доступна для
            наших пользователей за отдельную плату (например, как платное дополнение) или как включенная опция в
            определенных вариантах тарификации. В таком случае Клиенту, заинтересованному в использовании данной
            функции, может потребоваться модификация Аккаунта до соответствующего тарифа для использования таких
            функций.
            После завершения периода бета-тестирования одна или несколько функций из бета-версии может быть доступна для
            наших пользователей за отдельную плату (например, как платное дополнение) или как включенная опция в
            определенных вариантах тарификации. В таком случае Клиенту, заинтересованному в использовании данной
            функции, может потребоваться модификация Аккаунта до соответствующего тарифа для использования таких
            функций.
            После завершения периода бета-тестирования одна или несколько функций из бета-версии может быть доступна для
            наших пользователей за отдельную плату (например, как платное дополнение) или как включенная опция в
            определенных вариантах тарификации. В таком случае Клиенту, заинтересованному в использовании данной
            функции, может потребоваться модификация Аккаунта до соответствующего тарифа для использования таких
            функций.
        </p>
    </div>
</div>