.header-container {
  background-color: #305976;
  height: 100px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 200px;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .logo {
      cursor: pointer;
    }
    .nav-links {
      list-style: none;
      margin: 0;
      li {
        display: inline-block;
        padding: 0 15px;
        a {
          transition: all 0.3s ease 0s;
          text-decoration: none;
          color: white;
          font-size: 16px;
          img {
            &.active {
              filter: sepia(100%) hue-rotate(150deg) saturate(500%);
            }
            margin: -3px 2px 0 0;
            margin-right: 2px;
            &.last {
              margin-top: 0;
            }
          }
        }
      }
    }
    .account {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 164px;
      &-nots {
        position: relative;
        cursor: pointer;
        .nots-panel {
          top: -50%;
          right: -70%;
          width: 18px;
          height: 18px;
          display: flex;
          position: absolute;
          background-color: #fd7f04;
          border-radius: 3px;
          span {
            margin: auto;
            font-size: 16px;
            color: white;
          }
        }
        .nots-content {
          position: absolute;
          display: none;
          background: silver;
          border-radius: 5px;
          width: 250px;
          height: 250px;
          transition: all 0.3s;
          left: -250px;
          &.show {
            display: block;
          }
        }
      }
      &-questions {
        img {
          cursor: pointer;
        }
      }
      &-details {
        display: flex;
        align-items: center;
        position: relative;
        .accounts-content {
          display: none;
          position: absolute;
          background: silver;
          border-radius: 5px;
          width: 200px;
          height: 300px;
          left: -125px;
          bottom: -300px;
          &.show {
            display: block;
          }
        }
        img.user {
          border-radius: 50%;
        }
        .arrow {
          cursor: pointer;
          background-color: #3e6683;
          position: relative;
          width: 20px;
          height: 15px;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
