<div class="header-container">
    <header>
        <img class="logo" src="assets/logo.png" alt="logo">
        <div class="switch-account" (clickOutside)="onClickedOutsideSwitch()">
            <div class="switch-account-action" (click)="toggleSwitchAccount()">
                <img src="assets/icons/insta_icon.png" alt="Instagram">
                <p>@jess.wandering</p>
                <img src="assets/icons/arr_down_blue.png" alt="">
            </div>
            <app-header-switch-account *ngIf="showSwitchAccount">
            </app-header-switch-account>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a routerLink="/statistics/preview">
                        <img routerLinkActive='active' src="assets/icons/pie-chart.png" alt="">
                        Статистика</a></li>
                <li><a routerLink="/promotion/autosubscribe">
                        <img routerLinkActive='active' src="assets/icons/rocket.png" alt="">
                        Продвижение</a></li>
                <li><a routerLink="#">
                        <img routerLinkActive='active' src="assets/icons/calendar.png" alt="">
                        Автопостинг</a></li>
                <li><a routerLink="#">
                        <img routerLinkActive='active' class="last" src="assets/icons/send.png" alt="">
                        Директ</a></li>
            </ul>
        </nav>
        <div class="account">
            <div class="account-nots" (clickOutside)="onClickedOutsideNots()">
                <img src="assets/icons/bell.png" alt="notifications" (click)="toggleNotsPanel()">
                <div class="nots-panel" (click)="toggleNotsPanel()">
                    <span>
                        2
                    </span>
                </div>
                <app-header-notification *ngIf="showNots"></app-header-notification>
            </div>
            <div class="account-questions" (clickOutside)="onClickedOutsideQuestions()">
                <img (click)="toggleQuestions()" src="assets/icons/question_icon.png" alt="questions">
                <app-header-help *ngIf="showQuestion"></app-header-help>
            </div>
            <div class="account-details" (clickOutside)="onClickedOutsideUserDetails()">
                <img class="user" src="assets/boy.png" alt="account">
                <div class="arrow" (click)="toggleUserDetails()">
                    <img src="assets/icons/down.png" alt="dropdown">
                </div>
                <app-header-user *ngIf="showUserDetails"></app-header-user>
            </div>
        </div>
    </header>
</div>