.pg-container {
  margin-top: 40px;
}
.subscription-accordion {
  .accordion-body {
    background-color: #f6f6f6;
    padding: 25px 36px;
    border-radius: 6px;

    .collapse-heading {
      display: flex;
      align-items: center;
      position: relative;
      .filters-count {
        padding: 6px 9px 5px 7px;
        background: #0dce99;
        border-radius: 2px;
        white-space: nowrap;
        span {
          font-family: "SF UI Display Regular";
          font-size: 14px;
          color: white;
        }
      }
      button {
        color: #3d3d3d;
        font-size: 18px;
        text-decoration: none;
        text-align: left;
        img {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.3s;
        }
        &.collapsed {
          img {
            transform: rotate(180deg);
          }
        }
      }
      .arrow-up {
        margin-left: auto;
      }
    }
  }
}
.inline-checkoxes {
  display: flex;
  align-items: center;
  &.wrap {
    display: inline-block;
    mat-checkbox {
      display: inline-block;
    }
  }
  .checkbox-label {
    font-family: "SF UI Display Regular";
    font-size: 18px;
    line-height: 48px;
    color: #3d3d3d;
    margin-left: 4px;
  }
  .range-input {
    border-radius: 4px;
    border: 2px solid #c2d0db;
    height: 30px;
    font-size: 14px;
    width: 70px;
    padding-left: 4px;
  }
}

.filters-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 52px 45px 49px 0;
}
.close-button-wrapper {
  text-align: right;
  .close-button {
    padding: 5px 10px;
  }
}
textarea {
  width: 460px;
  height: 140px;
  font-family: "SF UI Display Regular";
  font-size: 14px;
  line-height: initial;
  color: #3d3d3d;
  resize: none;
  padding: 14px 15px;
}
mat-checkbox {
  ::ng-deep {
    display: block;

    .mat-checkbox-label {
      font-family: "SF UI Display Regular";
      font-size: 18px;
      line-height: 48px;
      color: #3d3d3d;
    }
    .range-input {
      border-radius: 4px;
      border: 2px solid #c2d0db;
      height: 30px;
      font-size: 14px;
      width: 70px;
      padding-left: 4px;
    }
  }
}
mat-checkbox.with-text {
  ::ng-deep {
    label.mat-checkbox-layout {
      display: block;
    }
  }
}
