.additional-settings-container {
    .label {
        padding: 0;
        width: 100%;
        max-width: 210px;

    }

    .input-content {
        padding: 0;
        max-width: 300px;
        width: 100%;
    }

    .additional-settings-form {
        .text {
            word-break: break-all;
            width: 670px;
            color: #e2e2e2;
            font-size: 16px;
        }

        .additional-form {
            margin-top: 45px;

            &:after {
                content: "";
                display: block;
                width: 100%;
                border: 1px solid #d7d7d7;
                margin: 55px 0 28px 0;
            }

            .tex-area-content {
                padding: 0;
                max-width: 570px;
                width: 100%;


            }

            .text-area {
                min-height: 250px;
                max-height: 250px;
                resize: none;
                outline: none;
            }
        }

    }

    .save-button-content {
        margin-top: 54px;

        .save-button {
            color: white;
            background: #71ceb5;
            padding: 17px 56px;
        }
    }

}

.border {
    border: 1px solid red !important;
}