@import '../../../../../../../../assets/scss/styles/_auth-forms.css';
.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

.registr-btn{
    background: #305976 !important;
    color: white;
}
.new-accont-btn{
    background-color:#3399cc !important; 
    border-color: #3399cc !important;
    color: white !important;
}