.pg-container {
  max-width: 1200px;
  margin: 0 auto;
}

.pg-content {
  margin-top: 40px;
}

.pg-title {
  font-size: 24px;
  font-weight: bold;
}

.slider-container {
  margin-left: -12px;
  margin-right: -12px;
}

* {
  box-sizing: border-box;
}

.inp-error {
  border: 1px solid red;
}

.cursor-pointer {
  cursor: pointer;
}

.toast-success {
  background-color: #3399cc !important;
}

.toast-container .ngx-toastr {
  box-shadow: none !important;
}

button:disabled {
  opacity: 0.5;
}

a:focus {
  outline: none !important;
}

.panelClass {
  padding: 10px 10px !important;
}

.error {
  margin-bottom: 10px;
}

.empty-message {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 40px 0;
  color: #3399cc;
}

.article-details-content {
  p {
    display: block !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block !important;
    font-size: 1.17em !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    font-weight: bold !important;
  }
  strong {
    font-weight: bold !important;
  }

  li{
    display: list-item !important;
    text-align: -webkit-match-parent !important;
  }
  
  ol{
    list-style-type: decimal !important;
  }
}
