.pg-container {
  max-width: 1200px;
  margin: 0 auto;
}

.pg-content{
  margin-top: 40px;
}

.pg-title {
  font-size: 24px;
  font-weight: bold;
}

.slider-container {
  margin-left: -12px;
  margin-right: -12px;
}

* {
  box-sizing: border-box;
}

.inp-error {
  border: 1px solid red;
}

.cursor-pointer {
  cursor: pointer;
}

.toast-success {
  background-color: #3399cc !important;
}

.toast-container .ngx-toastr {
  box-shadow: none !important;
}

button:disabled {
  opacity: 0.5;
}

a:focus {
  outline: none !important;
}

.panelClass {
  padding: 10px 10px !important;
}

.error{
  margin-bottom: 10px;
}
