@media only screen and (max-width: 1200px) {
  .limits {
    .limit-item:not(:last-child) {
      margin-right: 105px;
    }
  }

  .subscription-heder {
    padding: 0 20px;
  }

  .search-tab-item {
    p {
      font-size: 16px !important;
    }
  }

  .action-row {
    .action-col {
      width: 50% !important;
    }
  }

  .setting-details-description {
    display: none !important;
  }

  .auto-promotion-title {
    display: block !important;
  }
}

@media only screen and (max-width: 900px) and (min-width: 480px) {
  .action {
    .action-cards {
      .acton-item {
        width: 50% !important;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .main {
    margin-top: 60px !important;
    padding: 8px;
  }

  .header-container {
    display: none;
  }

  .small-menu {
    display: block !important;
  }

  // Submenu
  .sub-navigation-container {
    display: none;
  }

  //Limits
  .limits {
    flex-wrap: wrap;
    min-height: 180px !important;
    justify-content: space-between;

    .limit-item {
      margin-right: 0 !important;
    }
  }

  .limits-title {
    font-size: 16px !important;
    margin: 10px 0 !important;
  }

  // Promotion module
  .accordion-body {
    padding: 0 8px !important;
  }

  .subscription-heder {
    padding: 0;

    .subscribers-statistic {
      p {
        display: none;
      }
    }

    .subscription-title {
      p {
        font-size: 18px !important;
      }
    }
  }

  /////Preview
  .preview-content {
    .user-details {
      .user-details-left {
        margin: auto !important;
        .user-details-left-botton-content {
          display: block !important;
        }
      }

      .user-details-right {
        display: none !important;
      }
    }

    .statistics {
      .statistic-card {
        flex-direction: column !important;

        .card-item {
          width: 100% !important;

          .card-description {
            margin: 39px 0 !important;
          }
        }
      }
    }
    .settings {
      .settings-details {
        flex-direction: column !important;
        .settings-item {
          width: 100% !important;
          .seting-item-top-content {
            display: none !important;
          }
          .main-content {
            flex-direction: column !important;
            .main-item {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
  .slider-content {
    .title {
      .down-image {
        display: block !important;
      }
    }
    .slider-description {
      flex-direction: column !important;
      .post-image {
        height: 200px !important;
        width: 100% !important;
      }
      .posts {
        margin: 20px 0 0 0 !important;
      }
    }
  }
  .title-respons {
    display: block !important;
  }
  .change-content {
    display: block !important;
  }
  .calendar-main-content {
    flex-direction: column !important;
    .subscribes-limits {
      // flex-wrap: wrap !important;
      display: block !important;
      &-item {
        margin-right: 0 !important;
        input {
          width: 60px !important;
          height: 35px !important;
          // margin-right: 0 !important;
          // margin-bottom: 0 !important;
        }
        span {
          font-size: 16px !important;
        }
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
  .same-conditions {
    font-size: 16px !important;
    margin-top: 15px !important;
  }
  .add-content {
    display: none !important;
  }
  .event-content {
    display: block !important;
  }
  .subscribes-limits {
    flex-wrap: wrap !important;
  }
  // HASHTAGS
  .hashtags-content {
    flex-wrap: wrap;
    justify-content: center !important;
    .hashtag-item {
      padding: 0 12px !important;
    }
    .clear-all-hashtags {
      margin-top: 20px;
    }
  }
  // SUBSCRIBE TO
  .subscribed-to-container {
    flex-wrap: wrap;
    justify-content: center !important;
    .clear-all-fields {
      margin-top: 20px;
    }
  }
  // ACCOUNT BY LOCATION
  .account-by-location-container {
    flex-wrap: wrap;
    justify-content: center !important;
    .clear-all-fields {
      margin-top: 20px;
    }
    .location-item {
      padding: 0 12px !important;
    }
  }
  //    subscribe parameters
  .parametres-container {
    padding: 25px 0 25px 0px !important;

    .parameter-item {
      &:not(:last-child) {
        display: block !important;
      }
      p {
        margin-bottom: 10px;
      }
      div {
        margin-left: 5px !important;
        display: inline-block !important;
      }
    }
    .hashtag-item {
      margin: 0 5px 7px 0 !important;
      padding: 5px !important;
    }
  }
  .inline-checkoxes {
    textarea {
      width: 100% !important;
      height: 100px !important;
    }
    &.double {
      display: block !important;
      .checkbox-label {
        margin-left: 25px !important;
      }
    }
  }
  .save-discard-settings {
    display: flex;
    flex-direction: column-reverse;
    button {
      width: 100% !important;
      &.discard {
        margin-top: 15px;
      }
    }
  }
  .texts-filter {
    width: 100%;
    textarea {
      width: 100%;
    }
  }
  .filters-container {
    padding: 12px 0 20px 0 !important;
  }
  .footer-navigation-container {
    margin-top: 0 !important;
    .footer-navigation-link {
      display: block !important;
      margin: 25px !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  //preview
  .subscription-content {
    flex-direction: column !important;
  }
  .inline-checkoxes {
    span {
      font-size: 14px !important;
    }
  }
  .mat-checkbox-label {
    font-size: 14px !important;
  }
  .subscription-accordion {
    .arrow-up {
      display: none !important;
    }
  }

  .statistics {
    .card-item {
      .card-description {
        .card-image {
          height: 40px !important;
          width: 40px !important;
        }

        .card-subscription {
          font-size: 15px !important;
        }

        .progress-text,
        .progress-value {
          font-size: 10px !important;
        }
      }
    }
  }
  // HASHTAGS
  // .hashtags-content {
  //   flex-wrap: wrap;
  //   justify-content: center !important;
  //   .hashtags-container {
  //     justify-content: center !important;
  //   }
  // }
  .action {
    .action-cards {
      flex-direction: column !important;

      .acton-item {
        width: 100% !important;
      }
    }
  }

  .mat-slide-toggle {
    width: 100% !important;
  }
}
