.add-question-container {
  .add-question-header {
    .text {
      font-weight: 600;
      font-size: 24px;
    }
    .close-icon {
      height: 15px;
      width: 15px;
    }
  }
  .add-question-form {
    margin-top: 45px;
    .input-content {
      padding: 0;
      max-width: 300px;
      width: 100%;
      color: #7d7d7d;
    }
    .text-area {
      .text-area-content {
        max-height: 140px;
        min-height: 140px;
      }
    }
    .submit-button-content {
      margin-top: 20px;
      .submit-button {
        color: #fff;
        background: #3399cc;
        padding: 17px 61px;
      }
      .label {
        color: #7d7d7d;
        font-size: 18px;
      }
      .file-icon {
        height: 20px;
        width: 14px;
      }
    }
  }
}

.border {
  border: 1px solid red !important;
}
