body {
  font-family: "SF UI Display Regular" !important;
  // min-width: 900px;
  box-sizing: border-box;
}
span.ui-autocomplete {
  input.ui-autocomplete-input {
    max-width: 500px !important;
  }
}
.add-ps-container .mat-dialog-container {
  background: #f6f8f9;
}

.toast-error {
  opacity: 0.9 !important;
  transition: all 0.5s;
}
.ui-datepicker {
  z-index: 1004 !important;
}
