body {
  font-family: "SF UI Display Regular" !important;
  min-width: 900px;
}

span.ui-autocomplete {
  input.ui-autocomplete-input {
    max-width: 500px !important;
  }
}
.add-ps-container .mat-dialog-container {
  background: #f6f8f9;
}

