.user-details {
  padding-top: 31px;
  padding-bottom: 24px;

  .user-image {
    width: 130px;
    height: 130px;
  }

  .user-description {
    .user-name {
      font-family: "SF UI Display Regular";
      color: #3c3c3c;
      font-size: 23px;
    }

    .button {
      background-color: #3399cc;
      border-color: #3399cc;
      color: #ffffff;
      font-family: "SF UI Display SemiBold";
    }
  }
}
