<section class="pg-container article-details-section">
    <div class="pg-content article-details-content">
        <p class="path-text">Категория/<b class="title">Подкатегория</b></p>
        <p class="text mt-2">Название статьи</p>
        <div class="article-details-description d-flex  justify-content-between">
            <div class="article-details-left-description">
                <p class="text-description">Креатив состоит из динамичных фотографий или коротких видео с добавлением
                    текста, музыки и эффектов. Такой тип рекламы позволяет за 15 секунд рассказать основную суть вашего
                    бизнеса или блога.
                </p>
                <p class="text-description">В наше время характерен быстрый обмен информацией, длинный текст или долгий
                    рекламный ролик не
                    удерживает внимание покупателя. Поэтому 15-секундный динамичный формат идеально подходит для
                    рекламы. </p>

                <p class="text-description">Почему выбран такой формат?</p>
                <p class="text-description">По статистике, пользователи Интернета смотрят только первые 15 секунд
                    видеоролика. </p>
                <p class="text-description">Такой тип рекламы ещё непривычен для покупателей, не намозолил глаза. Далее
                    мы расскажем, как сделать креатив интересным для покупателя. В отличие от дорогостоящих
                    профессиональных рекламных роликов, креатив не требует особых денежных и ресурсных затрат. Его можно
                    сделать самому на телефоне или компьютере. Затраты будут лишь за подписку на приложения для создания
                    креатива, что составляет ~300-1000₽ в месяц.</p>
                <p class="text-description">Креатив легко менять и подстраивать под нужный контекст. Можно передвигать
                    части креатива, менять текст или музыку. Таким образом, можно определить, какой креатив работает
                    эффективнее.</p>
                <p class="text-description">Конечный смысл креатива-призыв к действию. То есть, он призывает к подписке
                    на ваш аккаунт, покупке вашего продукта или переходе по ссылке.
                </p>
                <p class="text-description">Таким образом, креатив - это эффективный рекламный формат, который лёгок в
                    создании, изменяем под нужный контекст и может использоваться в самых разных рекламных целях. </p>
                <p class="text-description">Позиционирование должно отражать ваше уникальное торговое предложение и
                    отличать вас от конкурентов. </p>
                <p class="text-description">Если это креатив блога, он должен рассказать за 15 секунд, о чем ваш блог,
                    чем он отличается от других, почему он уникален. Почему люди должны на него подписаться? Какую
                    пользу он несёт? </p>
                <p class="text-description">Если это коммерческий аккаунт, и вы рекламируете товар или услугу, в
                    креативе должна содержаться информация о том, что это за бренд, что за продукты или услуги он
                    представляет. Почему этот бренд уникален, почему покупатели должны выбрать именно его? Для кого он
                    подходит? Чем он отличается от других? </p>
                <p class="text-description">В позиционировании мы определяем креатив на уровне смыслов. Какая будет
                    смысловая часть креатива, какой будет текст. </p>

                <button class="load-more d-flex" >
                    <p *ngIf="!sendLikeMessage">
                        <span class="button-text ml-3 mr-2">Было полезно?</span>
                        <span (click)="onClickLike('yes')">Да </span>
                        <span (click)="onClickLike('no')">/ Нет</span>
                    </p>
                    <p *ngIf="sendLikeMessage">Спасибо за ваш ответ ваш ответ принят</p>
                </button>

            </div>
            <div class="article-details-right-description">
                <div>
                    <p class="text">Категория</p>
                    <p class="title">Статья подкатегории</p>
                    <p class="title">Статья подкатегории</p>
                    <p class="title">Статья подкатегории</p>
                    <p class="title">Статья подкатегории</p>
                    <p class="title">Статья подкатегории</p>
                    <p class="title">Статья подкатегории</p>
                </div>
                <div>
                    <p class="text">Категория</p>
                    <p class="title">Статья подкатегории</p>
                    <p class="title">Статья подкатегории</p>
                    <p class="title">Статья подкатегории</p>
                </div>
            </div>
        </div>
    </div>
</section>