<div id="logreg-forms">
    <form class="form-signin" [formGroup]="signUpForm">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign up</h1>
        <div class="social-login row">
            <button class="btn facebook-btn social-btn col" type="button"><span><i class="fab fa-facebook-f"></i> Sign
                    up with Facebook</span> </button>
            <button class="btn google-btn social-btn col" type="button"><span><i class="fab fa-google-plus-g"></i> Sign
                    up with Google+</span> </button>
        </div>
        <input formControlName="name" type="text" id="inputName" class="form-control" placeholder="Name" required=""
            autofocus="" formControlName="name">
        <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"
            required="" autofocus="" formControlName="email">
        <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
            required="" formControlNmae="password">
        <input formControlName="passwordConfirmation" type="password" id="inputPassword" class="form-control"
            placeholder="Confirm password" required="" formControlNmae="passwordConfirmation">

        <button [disabled]="signUpForm.invalid" class="btn  btn-block registr-btn" type="submit" (click)="onSubmit()"><i
                class="fas fa-sign-in-alt"></i>
            Sign up</button>
        <button class="btn btn-block new-accont-btn" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign
            up New Account</button>
    </form>


</div>