.direct {
  .header {
    .settings {
      .icon {
        margin-left: 10px;
      }
      span {
        font-size: 18px;
        font-weight: 300;
        color: rgb(125, 125, 125);
      }
    }
  }
}
