<div class="pg-container direct">
    <div class="pg-content">
        <div class="header d-flex justify-content-between">
            <p class="pg-title text-left">Управление сообщениями в директ</p>
            <a class="settings cursor-pointer">
                <span class="text-left">Настройки рекламной рассылки</span>
                <img class="icon" src="/assets/icons/settings-icon.png">
            </a>
        </div>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div (clickOutside)="onClickedOutside()"
                        class="d-flex justify-content-between message-remark position-relative">
                        <button class="new-message" (click)="createChatOpened = !createChatOpened">
                            Новое сообщение
                            <img src="assets/icons/message.png" alt="">
                        </button>
                        <button class="new-bookmark">
                            Новая рассылка
                            <img src="assets/icons/email.png" alt="">
                        </button>
                        <div class="new-message-dropDown position-absolute" [ngClass]="{'d-block':createChatOpened}">
                            <app-create-chat [(allChats)]="allChats" (activeChatChange)="setActiveChat($event)"
                                [(activeChat)]="activeChat" [(createChatOpened)]="createChatOpened"></app-create-chat>
                        </div>
                    </div>
                    <div class="headind_srch d-flex">
                        <div class="search-tab-item">
                            <p>ЛС</p>
                        </div>
                        <div class="search-tab-item">
                            <p>Разослано</p>
                        </div>
                        <div class="search-tab-item active">
                            <p>Запланировано</p>
                        </div>
                    </div>
                    <div class="inbox_chat" ngxInfiniteScroller initialScrollPosition="TOP" strategy="scrollingToBottom"
                        (onScrollDown)="moreInbox()">

                        <div class="chat_list" (click)="setActiveChat(item)"
                            *ngFor="let item of allChats;let ind = index"
                            [ngClass]="{'active_chat':activeChat.thread_id == allChats[ind].thread_id}">
                            <div class="chat_people">

                                <div class="chat_img">
                                    <img *ngIf="!item.is_group" [src]="item.users[0].profile_pic_url" alt="sunil">
                                    <div *ngIf="item.is_group" class="chat_img_multiple">
                                        <img [src]="item.users[0].profile_pic_url">
                                        <img [src]="item.users[1].profile_pic_url">
                                    </div>

                                </div>
                                <div class="chat_ib">
                                    <p>{{item.thread_title}}</p>
                                </div>
                                <div *ngIf="item.read_state != 0" class="chat-count">

                                </div>
                            </div>
                        </div>
                        <div *ngIf="allChats.length == 0" class="no-chat">
                            <p class="empty-message">У вас пока нет сообщений</p>
                        </div>
                    </div>
                </div>

                <div class="mesgs">
                    <div *ngIf="loading">
                        <app-message-item mode="skeletion" [isIncoming]="true">
                        </app-message-item>
                        <app-message-item mode="skeletion" [isIncoming]="false">
                        </app-message-item>
                        <app-message-item mode="skeletion" [isIncoming]="true">
                        </app-message-item>
                        <app-message-item mode="skeletion" [isIncoming]="false">
                        </app-message-item>
                        <app-message-item mode="skeletion" [isIncoming]="true">
                        </app-message-item>
                        <app-message-item mode="skeletion" [isIncoming]="false">
                        </app-message-item>
                    </div>
                    <div *ngIf="!loading">
                        <div id="aaaa" initialScrollPosition="BOTTOM" strategy="scrollingToTop" ngxInfiniteScroller
                            (onScrollUp)="onScrolledUp()" *ngIf="allChats?.length > 0" class="msg_history">
                            <app-message-item [previousMessage]="ind > 0 ? activeChatMessages[ind - 1] : null "
                                [isIncoming]="getPhotoByUserIdAndCheckIfIncoming(message.user_id).isIncoming"
                                [senderPhoto]="getPhotoByUserIdAndCheckIfIncoming(message.user_id).picture"
                                [message]="message"
                                *ngFor="let message of activeChatMessages.reverse();let ind = index">
                            </app-message-item>
                            <div *ngIf="activeChatMessages.length == 0" class="no-chat">
                                <p class="text-center empty-message">У вас пока нет сообщений</p>
                            </div>
                            <!-- <div class="incoming-msg d-flex align-items-start">
                            <div class="incoming-msg-text additional">
                                <span class="message-body">Проголосуй пожалуйста за мое фото у меня странице
                                    https://www.instagram.com/p/B7o2SXTJtVx/</span>
                                <span class="message-date">14:36</span>
                            </div>
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text first">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                            <img src="assets/icons/avatar.png" class="outgoing-msg-img">
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text additional">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center day-separator">
                            <span>19 Января</span>
                        </div>
                        <div class="incoming-msg d-flex align-items-start">
                            <img src="assets/icons/avatar.png" class="incoming-msg-img">
                            <div class="incoming-msg-text first">
                                <span class="message-body">Привет!</span>
                                <span class="message-date">14:35</span>
                            </div>
                        </div>
                        <div class="incoming-msg d-flex align-items-start">
                            <div class="incoming-msg-text additional">
                                <span class="message-body">Проголосуй пожалуйста за мое фото у меня странице
                                    https://www.instagram.com/p/B7o2SXTJtVx/</span>
                                <span class="message-date">14:36</span>
                            </div>
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text first">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                            <img src="assets/icons/avatar.png" class="outgoing-msg-img">
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text additional">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center day-separator">
                            <span>19 Января</span>
                        </div>
                        <div class="incoming-msg d-flex align-items-start">
                            <img src="assets/icons/avatar.png" class="incoming-msg-img">
                            <div class="incoming-msg-text first">
                                <span class="message-body">Привет!</span>
                                <span class="message-date">14:35</span>
                            </div>
                        </div>
                        <div class="incoming-msg d-flex align-items-start">
                            <div class="incoming-msg-text additional">
                                <span class="message-body">Проголосуй пожалуйста за мое фото у меня странице
                                    https://www.instagram.com/p/B7o2SXTJtVx/</span>
                                <span class="message-date">14:36</span>
                            </div>
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text first">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                            <img src="assets/icons/avatar.png" class="outgoing-msg-img">
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text additional">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                        </div> -->

                        </div>
                    </div>

                    <form [formGroup]="messageForm"
                        class="type_msg d-flex w-100 justify-content-between align-items-baseline">
                        <!-- <div class="image-upload">
                            <label for="file-input">
                                <img height="20" src="assets/icons/attachment.png" />
                            </label>
                            <input (change)="handleInputChange($event)" class="file" id="file-input" type="file" />
                        </div> -->
                        <div class="input_msg_write d-flex  align-items-center">

                            <input formControlName="message" type="text" class="write_msg"
                                placeholder="Введите сообщение" />
                            <div class="image-upload">
                                <label for="file-input">
                                    <img src="assets/icons/gallery.png" />
                                </label>
                                <input (change)="handleInputChange($event)" class="file" id="file-input" type="file" />
                            </div>
                            <!-- <button class="chat-actions" type="button"><img src="assets/icons/smole.png"
                                    alt=""></button> -->
                        </div>
                        <button [disabled]="messageForm.invalid" (click)="sendMessage()" class="msg_send_btn"
                            type="submit"><img src="assets/icons/send-chat.png" alt=""></button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>