.direct {
  .header {
    .settings {
      .icon {
        margin-left: 10px;
      }
      span {
        font-size: 18px;
        font-weight: 300;
        color: rgb(125, 125, 125);
      }
    }
  }
}
.msg-item {
  animation: slide-up 0.5s ease;
}
img {
  max-width: 100%;
}
.inbox_people {
  background: #f6f6f6 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 32%;
}
.inbox_msg {
  clear: both;
  overflow: hidden;
}
.top_spac {
  margin: 20px 0 0;
}

.headind_srch {
  width: 100%;
  .search-tab-item {
    background: #dddddd;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 2px;
    }

    &:first-child {
      padding: 20px 24px 17px 26px;
    }
    &:nth-child(2) {
      padding: 17px 32px 20px 35px;
    }
    &:last-child {
      padding: 17px 12px;
    }
    &.active {
      background: #f6f6f6;
      border-top: 5px solid #3399cc;
      padding-top: 14px;
    }
    p {
      font-family: "SF UI Display Regular";
      font-size: 18px;
      color: #3d3d3d;
    }
  }
}

.chat_ib p {
  font-size: 14px;
  margin: auto;
  font-family: "SF UI Display Regular";
  color: #3d3d3d;
}
.chat-count {
  float: right;
  background: #3499cc;
  border-radius: 6px;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.chat-count p {
  padding: 8px;
  font-size: 14px;
  margin: auto;
  font-family: "SF UI Display SemiBold";
  color: white;
}
.chat_img {
  float: left;
  width: 22%;
  img {
    border-radius: 50%;
  }
  .chat_img_multiple {
    img {
      width: 40px;
      height: 40px;
      &:first-child {
        position: absolute;
        right: 10px;
        bottom: -10px;
      }
    }
    position: relative;
    top: 6px;
  }
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
  margin: auto;
}

.chat_people {
  overflow: hidden;
  clear: both;
  display: flex;
  flex-direction: row-reverse;
  min-height: 60px;
}
.chat_list {
  border-radius: 4px;
  padding: 8px 16px 8px;
  margin-bottom: 11px;
  min-height: 80px;
  border: 2px solid #eaeaea;
  cursor: pointer;
}
.inbox_chat {
  height: 550px;
  overflow-y: scroll;
  direction: rtl;
  margin-top: 13px;
  padding: 0 17.5px;
  border-radius: 8px;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #e0e0e0;
    background-color: #c4c4c4;
    border-radius: 40px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #e0e0e0;
    border-radius: 40px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 40px;
  }
}

.active_chat {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(51, 153, 204);
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg {
  width: 57%;
}
.mesgs {
  position: relative;
  float: right;
  padding: 30px 15px 0 15px;
  width: 66%;
  background: #f6f6f6;
  border-radius: 6px;
  .no-chat {
    p {
      font-family: "SF UI Display Regular";
      font-size: 16px;
      color: #3d3d3d;
    }
  }
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.sent_msg {
  display: inline-block;
  width: 46%;
}
.input_msg_write input {
  color: #4c4c4c;
  font-size: 15px;
  min-height: 42px;
  width: 100%;
  padding-left: 16px;
  border: none;
}
.input_msg_write {
  width: 100%;
  border-style: solid;

  border-width: 2px;
  border-color: #c2d0db;
  border-radius: 4px;
  background-color: white;
  margin-right: 17px;
}
.image-upload {
  margin-right: 16px;
  img {
    cursor: pointer;
  }
  input.file {
    display: none;
  }
}
.msg_send_btn {
  border: medium none;
  cursor: pointer;
  padding: 0;
  background: transparent;
}
.messaging {
  margin-top: 45px;
}
.msg_history {
  height: 610px;
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #e0e0e0;
    background-color: #c4c4c4;
    border-radius: 40px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #e0e0e0;
    border-radius: 40px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 40px;
  }
}

.incoming-msg {
  width: calc(100% - 69px);
  margin-bottom: 10px;
  margin-right: auto;
  .message-msg-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 9px;
  }
  .message-msg-text {
    position: relative;
    padding: 25px 77px 22px 32px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(208, 208, 208);
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    &.first {
      border-bottom-left-radius: 0;
    }
    &.additional {
      margin-left: 69px;
    }
  }
}

.outgoing-msg {
  width: calc(100% - 60px);
  margin-left: auto;
  margin-bottom: 10px;
  .message-msg-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 9px;
  }
  .message-msg-text {
    position: relative;
    padding: 25px 77px 22px 32px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(223, 223, 223);
    background-color: rgb(232, 253, 229);
    border-radius: 24px;
    &.first {
      border-bottom-right-radius: 0;
    }
    &.additional {
      margin-right: 69px;
    }
  }
}

.message-date {
  position: absolute;
  right: 23px;
  bottom: 13px;
  font-family: "SF UI Display Regular";
  font-size: 14px;
  color: #7d7d7d;
}
.message-body {
  font-family: "SF UI Display Regular";
  font-size: 16px;
  color: #3d3d3d;
}
.day-separator {
  span {
    font-family: "SF UI Display SemiBold";
    font-size: 14px;
    color: white;
    display: block;
    background: #a0b0bc;
    padding: 8px 10px 6px 11px;
    border-radius: 6px;
    margin: 2px 0 14px 0;
  }
}
.chat-actions {
  background: transparent;
  border: none;
}
.message-remark {
  background: white;
  padding-bottom: 22px;
  button {
    border: none;
    border-radius: 4px;
    font-family: "SF UI Display SemiBold";
    font-size: 15px;
    padding: 15px 12px 12px 18px;
    img {
      margin-left: 5px;
    }
  }
  .new-message-dropDown {
    display: none;
    width: 90%;
    left: 0;
    bottom: -160px;
    z-index: 1;
    background: white;
    padding: 8px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    min-height: 160px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    .sent-button-container {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        width: 90%;
        background-color: #305976;
      }
    }
  }
  .new-message {
    background: #eaf0f3;
    box-shadow: 0px 2px 0px 0px rgba(52, 111, 140, 0.2);
    color: #40779e;
  }
  .new-bookmark {
    background: #eaf4ed;
    color: #7c997e;
    box-shadow: 0px 2px 0px 0px rgba(52, 140, 108, 0.2);
  }
}
.type_msg {
  padding: 15px 0;
  border-top: 1px solid #d7d7d7;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    // transform: translateY(20px);
  }
  100% {
    opacity: 1;
    // transform: translateY(0);
  }
}

.ui-autocomplete-multiple-container {
  width: 100% !important;
}
.ui-autocomplete-multiple {
  width: 100% !important;
}
