<div class="pg-container direct">
    <div class="pg-content">
        <div class="header d-flex justify-content-between">
            <p class="pg-title text-left">Управление сообщениями в директ</p>
            <a class="settings cursor-pointer">
                <span class="text-left">Настройки рекламной рассылки</span>
                <img class="icon" src="/assets/icons/settings-icon.png">
            </a>
        </div>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="d-flex justify-content-between message-remark">
                        <button class="new-message">
                            Новое сообщение
                            <img src="assets/icons/message.png" alt="">
                        </button>
                        <button class="new-bookmark">
                            Новая рассылка
                            <img src="assets/icons/email.png" alt="">
                        </button>
                    </div>
                    <div class="headind_srch d-flex">
                        <div class="search-tab-item">
                            <p>ЛС</p>
                        </div>
                        <div class="search-tab-item">
                            <p>Разослано</p>
                        </div>
                        <div class="search-tab-item active">
                            <p>Запланировано</p>
                        </div>
                    </div>
                    <div class="inbox_chat">

                        <div class="chat_list" (click)="activeChatIndex = ind"
                            *ngFor="let item of allChats;let ind = index"
                            [ngClass]="{'active_chat':activeChatIndex == ind}">
                            <div class="chat_people">

                                <div class="chat_img">
                                    <img *ngIf="!item.is_group" [src]="item.users[0].profile_pic_url" alt="sunil">
                                    <div *ngIf="item.is_group" class="chat_img_multiple">
                                        <img [src]="item.users[0].profile_pic_url">
                                        <img [src]="item.users[1].profile_pic_url">
                                    </div>

                                </div>
                                <div class="chat_ib">
                                    <p>{{item.thread_title}}</p>
                                </div>
                                <div *ngIf="item.read_state != 0" class="chat-count">
                                    <p>2</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="mesgs">
                    <div *ngIf="allChats?.length > 0" class="msg_history">
                        <div class="incoming-msg d-flex align-items-start"
                            *ngFor="let message of allChats[activeChatIndex].items">
                            <img class="incoming-msg-img" [src]="getPhotoByUserId(message.user_id).picture">
                            <div class="incoming-msg-text first">
                                <span class="message-body">{{message.text}}</span>
                                <img *ngIf="message.item_type == 'animated_media'"
                                    [src]="message.animated_media.images.fixed_height.url" alt="">
                                <img *ngIf="message.item_type == 'media'"
                                    [src]="message.media.image_versions2.candidates[1].url" alt="">
                                <span class="message-date">14:35</span>
                            </div>
                        </div>
                        <!-- <div class="incoming-msg d-flex align-items-start">
                            <div class="incoming-msg-text additional">
                                <span class="message-body">Проголосуй пожалуйста за мое фото у меня странице
                                    https://www.instagram.com/p/B7o2SXTJtVx/</span>
                                <span class="message-date">14:36</span>
                            </div>
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text first">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                            <img src="assets/icons/avatar.png" class="outgoing-msg-img">
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text additional">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center day-separator">
                            <span>19 Января</span>
                        </div>
                        <div class="incoming-msg d-flex align-items-start">
                            <img src="assets/icons/avatar.png" class="incoming-msg-img">
                            <div class="incoming-msg-text first">
                                <span class="message-body">Привет!</span>
                                <span class="message-date">14:35</span>
                            </div>
                        </div>
                        <div class="incoming-msg d-flex align-items-start">
                            <div class="incoming-msg-text additional">
                                <span class="message-body">Проголосуй пожалуйста за мое фото у меня странице
                                    https://www.instagram.com/p/B7o2SXTJtVx/</span>
                                <span class="message-date">14:36</span>
                            </div>
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text first">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                            <img src="assets/icons/avatar.png" class="outgoing-msg-img">
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text additional">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center day-separator">
                            <span>19 Января</span>
                        </div>
                        <div class="incoming-msg d-flex align-items-start">
                            <img src="assets/icons/avatar.png" class="incoming-msg-img">
                            <div class="incoming-msg-text first">
                                <span class="message-body">Привет!</span>
                                <span class="message-date">14:35</span>
                            </div>
                        </div>
                        <div class="incoming-msg d-flex align-items-start">
                            <div class="incoming-msg-text additional">
                                <span class="message-body">Проголосуй пожалуйста за мое фото у меня странице
                                    https://www.instagram.com/p/B7o2SXTJtVx/</span>
                                <span class="message-date">14:36</span>
                            </div>
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text first">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                            <img src="assets/icons/avatar.png" class="outgoing-msg-img">
                        </div>
                        <div class="outgoing-msg d-flex align-items-start justify-content-end">
                            <div class="outgoing-msg-text additional">
                                <span class="message-body">Привет! Уже проголосовала</span>
                                <span class="message-date">14:38</span>
                            </div>
                        </div> -->

                    </div>
                    <div class="type_msg d-flex w-100 justify-content-between align-items-baseline">
                        <div class="image-upload">
                            <label for="file-input">
                                <img height="20" src="assets/icons/attachment.png" />
                            </label>
                            <input class="file" id="file-input" type="file" />
                        </div>
                        <div class="input_msg_write d-flex  align-items-center">

                            <input type="text" class="write_msg" placeholder="Введите сообщение" />
                            <button class="chat-actions" type="button"><img src="assets/icons/gallery.png"
                                    alt=""></button>
                            <button class="chat-actions" type="button"><img src="assets/icons/smole.png"
                                    alt=""></button>
                        </div>
                        <button class="msg_send_btn" type="button"><img src="assets/icons/send-chat.png"
                                alt=""></button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>